
    <div style="width:600px; margin:0 auto; padding:0 15px;">
        <div text="" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left" class="ng-scope" id="ele1492067305383-107" custom="editorTextDirective"><div bind-html-compile="model.html" class="ng-scope"></div></div>
        <editor-image-element class="ng-scope" id="ele1492067305383-108" custom="editorImageElement"></editor-image-element>
                <editor-image-element class="ng-scope" id="ele1492067305384-109" custom="editorImageElement"></editor-image-element>
        <div style="width:180px; padding:10px; float:left;">
                <editor-image-element class="ng-scope" id="ele1492067305384-110" custom="editorImageElement"></editor-image-element>
        </div>
        <div style="width:380px; padding:10px; float:left;">
                <editor-image-element class="ng-scope" id="ele1492067305384-111" custom="editorImageElement"></editor-image-element>
        </div>
    </div>
