<div style="height:100%;margin:0;padding:0;width:100%;background-color:#9854c5">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_6353819811535409266bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#9854c5">
                <tbody><tr>
                    <td align="center" valign="top" id="m_6353819811535409266bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
						
						
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
							<tbody><tr>
								<td valign="top" id="m_6353819811535409266templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        <div text id="title">
                            感謝出席半島青年商會【財務處】凝聚半島 Fund Fun Go
                        </div>
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
								<td valign="top" id="m_6353819811535409266templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_6353819811535409266mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_6353819811535409266mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <editor-image-element id="photo1" align="center" alt="" src="https://ci5.googleusercontent.com/proxy/BsXyTvOLjqMPtMFyJaWXHZuYQef2Q8s9dLcjXPdgyIGJW-fguemCudwMOwO_PIeIxVKTP7-t0gTlLUAqGXZJDSQsYxWpx_BVSybxJGteU30yNzPlb3aWGAJzMtPJN0r82F1KcRnUJBswH3Cpe9gBik80Ga4xpj4eZAQgFb8=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/090c7cde-654b-41a9-beab-46a1990e02d3.jpg" width="564" style="max-width:1959px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6353819811535409266mcnImage CToWUd">
                                    </editor-image-element>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding:0px 18px 9px;line-height:125%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left">
                        <div text id="content34">
                            <div>會長林偉洛、上屆會長杜月嬋、總會指派執行委員梁嘉恩參議員、<wbr>各前會長、參議員、資深會員、會員及準會員：</div>

<div><br>
半島青年商會【財務處】舉辦的「凝聚半島 Fund Fun Go」己於3月25日（星期六）下午圓滿舉行。<wbr>當日共有51位會員出席。<br>
<br>
當日，籌委會成員準備了各式各樣的真人版board game 同 photo hunt 給參加者。在此，再次感謝每一位參與活動的熱心會員，<wbr>因為有你們的參與才令活動可以順利開展，除了籌得款項之餘，<wbr>亦可以讓各會友通過是次活動的遊戲及任務作更多的互動交流。<br>
<br>
希望您們在往後的日子裡一如既往地支持半島的活動！</div>
                            
                        </div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_6353819811535409266mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_6353819811535409266mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <editor-image-element id="photo2" align="center" alt="" src="https://ci3.googleusercontent.com/proxy/56Oy9pofBBS1sluqv_Frc3qSC6zu8L60boat5aZ9Jg0l2RqimRtTe7B2g_eWDvrHxy3FZiK5Q6DjeDr0ZGXVb5kPkqeZHRZYQ-hQ-IopzKM_-LBKn7gZGtqI5HdwunTZjoljH-W-caZNjp2nHSKWzw9Zx-hUXhkkfQ2iOZY=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/6067ae05-d4e8-448e-ac9b-3065db4c6fbc.jpg" width="564" style="max-width:1587px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6353819811535409266mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 754.594px; top: 763.568px;"><div id=":3ih" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="下載附件「」" data-tooltip-class="a1V" data-tooltip="下載"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    </editor-image-element>
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        <div text id="text1a">
                            <div  style="text-align:center">活動前大合照</div>
                        </div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnImageGroupBlock" style="border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnImageGroupBlockOuter">
        
            <tr>
                <td valign="top" style="padding:9px" class="m_6353819811535409266mcnImageGroupBlockInner">
                    
                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_6353819811535409266mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    
                                        <editor-image-element id="photo3" alt="" src="https://ci4.googleusercontent.com/proxy/Bf6DhpY9LE1d3MJMPQghQF_Cpglz4oRqm48vg3nilv8BM7AoQeRMCWhBA-JqrhJ2yusWh0zb_H44__0_R8ttXwySgZAcLPY_WECIQ_ddNXuqSIzGS9LjooS5qXwSxI93TASzvCYI5IAunjQ03Pp0mxlEIFyOCNPnDuyKptM=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/5b8fd574-eb79-43b3-8908-118bbece50b1.jpg" width="264" style="max-width:1093px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_6353819811535409266mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":3id" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="下載" role="button" tabindex="0" aria-label="下載附件「」" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    </editor-image-element>
                                
                                </td>
                            </tr>
                        </tbody></table>
                    
                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_6353819811535409266mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">
                                
                                    
                                        <editor-image-element id="photo4" alt="" src="https://ci6.googleusercontent.com/proxy/Jr_gpbIhwq8imww0HosnhePjOowwMONC8obs_vDaEBTgumKdM8fBSkW5-fCyitUOO0tunKgl4dSq3yrW9psa6mCmDk1vIsCi-J68Ib3WbZnKGCrpjEiZYJGmr1DwCvW8c5ryvv9FaWCPaZidP4GtvaaxYe7Yg5bWQK9zcec=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/ff7a5b07-b629-4b75-aa45-210357e7f3df.jpg" width="264" style="max-width:1296px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_6353819811535409266mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":3ie" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="下載" role="button" tabindex="0" aria-label="下載附件「」" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                        </editor-image-element>
                                
                                </td>
                            </tr>
                        </tbody></table>
                    
                </td>
            </tr>
        
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div text id="text22">
                                <div style="text-align:center">高空航拍大合照</div>
                            </div> 

                        </td>
                    </tr>
                </tbody></table>
				
                
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div text id="text3b">
                                <div style="text-align:center"><font id="m_6353819811535409266yui_3_16_0_ym19_1_1491132880642_14897">最快完成各項遊戲的小</font>組</div>

                            </div> 
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnImageGroupBlock" style="border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnImageGroupBlockOuter">
        
            <tr>
                <td valign="top" style="padding:9px" class="m_6353819811535409266mcnImageGroupBlockInner">
                    
                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_6353819811535409266mcnImageGroupContent" valign="top" style="padding-left:9px;padding-top:0;padding-bottom:0">
                                
                                    
                                        <editor-image-element id="photo5" alt="" src="https://ci3.googleusercontent.com/proxy/dNqqB9entjtmwVRdf2Y3ht4F_u4duJ0aG16G05-KP9DJJG6PUEXtThfkn8qxRQmA5qcClvQXLZTZdCYYUWe033YJmsM2iJXHKg87nRjm3yPoxNyijf-hJHKGUFrj783CoBBpQgnUDz5uWuAUB3iBLK8F2dTuAHOA5nShivo=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/5ee1ab72-2098-4175-b65e-eb60fc594097.jpg" width="264" style="max-width:1600px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_6353819811535409266mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":3if" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="下載" role="button" tabindex="0" aria-label="下載附件「」" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    </editor-image-element>
                                
                                </td>
                            </tr>
                        </tbody></table>
                    
                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_6353819811535409266mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_6353819811535409266mcnImageGroupContent" valign="top" style="padding-right:9px;padding-top:0;padding-bottom:0">
                                
                                    
                                        <editor-image-element alt="" src="https://ci3.googleusercontent.com/proxy/aqfx4k9EKXkmyD8A7DfR2z75iWMGrVMqeopNm4mZLPG7v_7X9aCyhsrEPeaRXkvTZFLg0tcPGwM1cWEdgwAELcUygamt0fVUm6XjWAD9hbk7IBkJcIYgs_Xx9TZbTvTLhU82ucRp60F19Nxw5O52Q5uyiZRU104CVJHUOCY=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/d40ee5f7-f27d-46af-a6a9-4312122d90f6.jpg" width="264" style="max-width:1232px;padding-bottom:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_6353819811535409266mcnImage CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 755.688px; top: 1249.88px;"><div id=":3ig" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="下載附件「」" data-tooltip-class="a1V" data-tooltip="下載"><div class="aSK J-J5-Ji aYr"></div></div></div>
                                    </editor-image-element>
                                
                                </td>
                            </tr>
                        </tbody></table>
                    
                </td>
            </tr>
        
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div text id="text44">
                                <div style="text-align:center"><span style="font-size:13px">會員認真積極參與各項board game遊戲</span></div>
                            </div>
                        </td>
                    </tr>
                </tbody></table>
				
                
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div text id="text55">
                                <div  style="text-align:center">互相合作完成board game遊戲</div>
                            </div>
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
								<td valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_6353819811535409266templateColumns" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
										<tbody><tr>
											<td valign="top">
												
												<table align="right" border="0" cellpadding="0" cellspacing="0" width="400" id="m_6353819811535409266templateBody" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
													<tbody><tr>
														<td></td>
													</tr>
												</tbody></table>
												
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" id="m_6353819811535409266templateSidebar" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
													<tbody><tr>
														<td valign="top"></td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="m_6353819811535409266templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:2px solid #eaeaea;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_6353819811535409266mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_6353819811535409266mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_6353819811535409266mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6353819811535409266mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492654835595000&amp;usg=AFQjCNG57nVP0YtUG9GUm83hKPV8PG995Q"><img src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6353819811535409266mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492654835595000&amp;usg=AFQjCNG57nVP0YtUG9GUm83hKPV8PG995Q">Facebook專頁</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_6353819811535409266mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6353819811535409266mcnFollowIconContent">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492654835595000&amp;usg=AFQjCNG4HdspPulOCcbTX-UYrLkXAvRz-w"><img src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6353819811535409266mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492654835595000&amp;usg=AFQjCNG4HdspPulOCcbTX-UYrLkXAvRz-w">半島青年商會網站</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_6353819811535409266mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6353819811535409266mcnFollowIconContent">
                                                                                    <a href="mailto:info@hkpjc.org" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/7qzpyVB6GsqI5yyevmVjGxT5eaoFOIhp5YUoxjUOyOGmq4G4GtelUrXlriffPbBB6IELkO_hU8xqN33CegBw2Edkn6SMFI76PRbVjeNB0UwdjNg4r3Y9r1ubmWo1oNsjk2vqbL5O5ZZD=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6353819811535409266mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="mailto:info@hkpjc.org" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank">聯絡我們</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6353819811535409266mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6353819811535409266mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6353819811535409266mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6353819811535409266mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6353819811535409266mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <em>Copyright © 2017&nbsp;</em>半島青年商會<em>, All rights reserved.</em><br>
<br>
<strong>Our mailing address is:</strong><br>
半島青年商會<br>
香港上環干諾道西21號海景商業大廈21樓<br>
<br>
我們尊重閣下的私人權利及接納刪除電子郵件的要求。 如閣下不欲收到由半島青年商會所發出的電郵，請電郵到<a href="mailto:secretary@hkpjc.org?subject=%E5%81%9C%E6%AD%A2%E6%8E%A5%E6%94%B6%E9%9B%BB%E9%83%B5%E8%A8%8A%E6%81%AF&amp;body=%0A%0A" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#3399ff">secre<wbr>tary@hkpjc.org</span></a>通知我們， 日後閣下的電郵地址將不會再收到本會所發出之有關宣傳電郵。
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
						</tbody></table>
						
						
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>