<div style="height:100%;margin:0;padding:0;width:100%;background-color:#222222">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_3913786965376136507bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#222222">
                <tbody><tr>
                    <td align="center" valign="top" id="m_3913786965376136507bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
						
						
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
							<tbody><tr>
								<td valign="top" id="m_3913786965376136507templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"></td>
							</tr>
							<tr>
								<td valign="top" id="m_3913786965376136507templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_3913786965376136507mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_3913786965376136507mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_3913786965376136507mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_3913786965376136507mcnImageContent" valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                
                                    
                                        <editor-image-element id="headimage2" align="center" alt="" src="https://ci6.googleusercontent.com/proxy/dBPmCzKIGEIvp7jhtAc_e0ts1wWNXIFmN06VJl3AnYTNANHexfQSpHi1kbtV3M2L1byEhlQDmTeVZiMt7eplUt5BHfIKKLtmtsqzYH1bAGiItqtwBqGWsm_zBZTx74uMrbtyfl7Fn4I2pFLZ3GTkYvNWEp7j7_y40J8XjbY=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/e17d2876-e3c1-414d-935a-8157828d3110.jpg" width="564" style="max-width:1960px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_3913786965376136507mcnImage CToWUd">
                          </editor-image-element>          
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_3913786965376136507mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_3913786965376136507mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_3913786965376136507mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td id="textcontent" valign="top" class="m_3913786965376136507mcnTextContent" style="padding:0px 18px 9px;line-height:150%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left">
                        
                            致各前會長、參議員、資深會員、會員及準會員：
<div style="text-align:center">&nbsp;</div>

<div style="text-align:left">本會前會長莫羨儀先嚴莫海先生於2017年4月5日被主接回天家<wbr>，享年93歲。現定於2017年4月12日(星期三) 晚上6時假萬國殯儀館3樓303舉行基督教儀式喪禮，<br>
<br>
晚上6:00-8:00 弔唁<br>
晚上8:00-8:45 安息禮<br>
<br>
並於翌日4月13日(星期三)<wbr>早上8時15分大殮後到哥連臣角火葬場火化<br>
<br>
董事局成員將於當晚7時30分到場致祭。<br>
<br>
謹此敬告<br>
<br>
會長<br>
林偉洛<br>
2017年4月8日</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
								<td valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_3913786965376136507templateColumns" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
										<tbody><tr>
											<td valign="top">
												
												<table align="right" border="0" cellpadding="0" cellspacing="0" width="400" id="m_3913786965376136507templateBody" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
													<tbody><tr>
														<td></td>
													</tr>
												</tbody></table>
												
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" id="m_3913786965376136507templateSidebar" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0">
													<tbody><tr>
														<td valign="top"></td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="m_3913786965376136507templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:2px solid #eaeaea;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_3913786965376136507mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_3913786965376136507mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_3913786965376136507mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_3913786965376136507mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_3913786965376136507mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492654835655000&amp;usg=AFQjCNE20IierRumNUspmhKGrpiyubcRAA"><img src="https://ci6.googleusercontent.com/proxy/MCzRvtyWYUuMZkvTVAdSqkA_EbLCl_h_EwLSiAcvHFDPZhokCCo8gSl5d7CKNOtlTa36Me8IwGYefd1iwIdCzGhFKLJsEd0sM-bUJCU7KVYjD617OD8nkXV6eoQ6GieyMw=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/dark-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_3913786965376136507mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492654835655000&amp;usg=AFQjCNE20IierRumNUspmhKGrpiyubcRAA">Facebook專頁</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_3913786965376136507mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_3913786965376136507mcnFollowIconContent">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492654835655000&amp;usg=AFQjCNGVryzCVes1UDEI2plOzP5fCYePVg"><img src="https://ci3.googleusercontent.com/proxy/ZTwQWkBvCn11MJmslG5zdzqaQ0VSyXq2thRnv-NUu6rnXuW4YW7mbTKdLtA9f5PO8Rw4uY07P8TMJsjz5wbNa6GBvMo3vO0bCxKd285p6YYTOvHGiQ4IivjgPPsK=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/dark-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_3913786965376136507mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492654835655000&amp;usg=AFQjCNGVryzCVes1UDEI2plOzP5fCYePVg">半島青年商會網站</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_3913786965376136507mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_3913786965376136507mcnFollowIconContent">
                                                                                    <a href="mailto:info@hkpjc.org" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/3MWIERru3AuIB3K5bcRDf8b28He2t-6KOvNTrv_HCiuwTJt_gaQDhAMrGToSi90eKMeSec2PMQLpiUB_1Ips_It50IPHAyyn-j0a85F-RdBPX5q0tgf7vzAaLrXkMTPo51Wh9MifRas=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/dark-forwardtofriend-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_3913786965376136507mcnFollowTextContent" style="padding-left:5px">
                                                                                    <a href="mailto:info@hkpjc.org" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank">聯絡我們</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_3913786965376136507mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_3913786965376136507mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_3913786965376136507mcnTextBlockInner" style="padding-top:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_3913786965376136507mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_3913786965376136507mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <em>Copyright © 2017&nbsp;</em>半島青年商會<em>, All rights reserved.</em><br>
<br>
<strong>Our mailing address is:</strong><br>
半島青年商會<br>
香港上環干諾道西21號海景商業大廈21樓<br>
<br>
我們尊重閣下的私人權利及接納刪除電子郵件的要求。 如閣下不欲收到由半島青年商會所發出的電郵，請電郵到<a href="mailto:secretary@hkpjc.org?subject=%E5%81%9C%E6%AD%A2%E6%8E%A5%E6%94%B6%E9%9B%BB%E9%83%B5%E8%A8%8A%E6%81%AF&amp;body=%0A%0A" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#3399ff">secre<wbr>tary@hkpjc.org</span></a>通知我們， 日後閣下的電郵地址將不會再收到本會所發出之有關宣傳電郵。
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
						</tbody></table>
						
						
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>