<div style="height:100%;margin:0;padding:0;width:100%;background-color:#9854c5">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-2162202579908930825bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#9854c5">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-2162202579908930825bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
	<div text="" id="contentText" class="ng-scope medium-editor-element" custom="editorTextDirective" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="62" medium-editor-index="d476a111-3fba-cdb1-1210-79bba82f15c0" data-medium-focused="true">
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
							<tbody>
  <tr>
								<td valign="top" id="m_-2162202579908930825templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;paddi:9px;paddi:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td text="" id="title" valign="top" class="m_-2162202579908930825mcnTextContent   ng-scope medium-editor-element" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left" custom="editorTextDirective" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="63" medium-editor-index="3950db28-ed2e-c6f3-00bf-7bc555ee40b4">
                        
                            感謝出席半島青年商會【財務處】凝聚半島 Fund Fun Go
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
<td valign="top" id="m_-2162202579908930825templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;paddi:9px;paddi:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_-2162202579908930825mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-2162202579908930825mcnImageContent" valign="top" style="paddi:9px;paddi:9px;paddi:0;paddi:0;text-align:center">
                                
                                    
                                        <dazzle-email-image align="center" alt="" src="https://ci5.googleusercontent.com/proxy/BsXyTvOLjqMPtMFyJaWXHZuYQef2Q8s9dLcjXPdgyIGJW-fguemCudwMOwO_PIeIxVKTP7-t0gTlLUAqGXZJDSQsYxWpx_BVSybxJGteU30yNzPlb3aWGAJzMtPJN0r82F1KcRnUJBswH3Cpe9gBik80Ga4xpj4eZAQgFb8=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/090c7cde-654b-41a9-beab-46a1990e02d3.jpg" width="564" style="max-width:1959px;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-2162202579908930825mcnImage CToWUd    ng-scope" id="ele1492068646783-112" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646783-112" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010892248_4AE5.jpg"></div></div></dazzle-email-image></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td text="" id="intro" valign="top" class="m_-2162202579908930825mcnTextContent   ng-scope medium-editor-element" style="padding:0px 18px 9px;line-height:125%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left" custom="editorTextDirective" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="64" medium-editor-index="7e0fbd7c-b53b-f00d-4656-47640496ae0d">
                        
                            <div>會長林偉洛、上屆會長杜月嬋、總會指派執行委員梁嘉恩參議員、<wbr>各前會長、參議員、資深會員、會員及準會員：</div>

<div><br>
半島青年商會【財務處】舉辦的「凝聚半島 Fund Fun Go」己於3月25日（星期六）下午圓滿舉行。<wbr>當日共有51位會員出席。<br>
<br>
當日，籌委會成員準備了各式各樣的真人版board game 同 photo hunt 給參加者。在此，再次感謝每一位參與活動的熱心會員，<wbr>因為有你們的參與才令活動可以順利開展，除了籌得款項之餘，<wbr>亦可以讓各會友通過是次活動的遊戲及任務作更多的互動交流。<br>
<br>
希望您們在往後的日子裡一如既往地支持半島的活動！</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_-2162202579908930825mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_-2162202579908930825mcnImageContent" valign="top" style="paddi:9px;paddi:9px;paddi:0;paddi:0;text-align:center">
                                
                                    
                                        <dazzle-email-image align="center" alt="" src="https://ci3.googleusercontent.com/proxy/56Oy9pofBBS1sluqv_Frc3qSC6zu8L60boat5aZ9Jg0l2RqimRtTe7B2g_eWDvrHxy3FZiK5Q6DjeDr0ZGXVb5kPkqeZHRZYQ-hQ-IopzKM_-LBKn7gZGtqI5HdwunTZjoljH-W-caZNjp2nHSKWzw9Zx-hUXhkkfQ2iOZY=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/6067ae05-d4e8-448e-ac9b-3065db4c6fbc.jpg" width="564" style="max-width:1587px;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_-2162202579908930825mcnImage CToWUd a6T    ng-scope" tabindex="0" id="ele1492068646784-113" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646784-113" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010894697_811C.jpg"></div></div></dazzle-email-image></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center">活動前大合照</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnImageGroupBlock" style="border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnImageGroupBlockOuter">
        
            <tr>
                <td valign="top" style="padding:9px" class="m_-2162202579908930825mcnImageGroupBlockInner">
                    
                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_-2162202579908930825mcnImageGroupContent" valign="top" style="paddi:9px;paddi:0;paddi:0">
                                
                                    
                                        <dazzle-email-image alt="" src="https://ci4.googleusercontent.com/proxy/Bf6DhpY9LE1d3MJMPQghQF_Cpglz4oRqm48vg3nilv8BM7AoQeRMCWhBA-JqrhJ2yusWh0zb_H44__0_R8ttXwySgZAcLPY_WECIQ_ddNXuqSIzGS9LjooS5qXwSxI93TASzvCYI5IAunjQ03Pp0mxlEIFyOCNPnDuyKptM=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/5b8fd574-eb79-43b3-8908-118bbece50b1.jpg" width="264" style="max-width:1093px;paddi:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-2162202579908930825mcnImage CToWUd a6T    ng-scope" tabindex="0" id="ele1492068646784-114" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646784-114" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010896499_3D2A.jpg"></div></div></dazzle-email-image></td>
                            </tr>
                        </tbody></table>
                    
                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_-2162202579908930825mcnImageGroupContent" valign="top" style="paddi:9px;paddi:0;paddi:0">
                                
                                    
                                        <dazzle-email-image alt="" src="https://ci6.googleusercontent.com/proxy/Jr_gpbIhwq8imww0HosnhePjOowwMONC8obs_vDaEBTgumKdM8fBSkW5-fCyitUOO0tunKgl4dSq3yrW9psa6mCmDk1vIsCi-J68Ib3WbZnKGCrpjEiZYJGmr1DwCvW8c5ryvv9FaWCPaZidP4GtvaaxYe7Yg5bWQK9zcec=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/ff7a5b07-b629-4b75-aa45-210357e7f3df.jpg" width="264" style="max-width:1296px;paddi:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-2162202579908930825mcnImage CToWUd a6T    ng-scope" tabindex="0" id="ele1492068646784-115" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646784-115" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010898464_4B78.jpg"></div></div></dazzle-email-image></td>
                            </tr>
                        </tbody></table>
                    
                </td>
            </tr>
        
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center">高空航拍大合照</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><font id="m_-2162202579908930825yui_3_16_0_ym19_1_1491132880642_14897">最快完成各項遊戲的小</font>組</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnImageGroupBlock" style="border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnImageGroupBlockOuter">
        
            <tr>
                <td valign="top" style="padding:9px" class="m_-2162202579908930825mcnImageGroupBlockInner">
                    
                    <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_-2162202579908930825mcnImageGroupContent" valign="top" style="paddi:9px;paddi:0;paddi:0">
                                
                                    
                                        <dazzle-email-image alt="" src="https://ci3.googleusercontent.com/proxy/dNqqB9entjtmwVRdf2Y3ht4F_u4duJ0aG16G05-KP9DJJG6PUEXtThfkn8qxRQmA5qcClvQXLZTZdCYYUWe033YJmsM2iJXHKg87nRjm3yPoxNyijf-hJHKGUFrj783CoBBpQgnUDz5uWuAUB3iBLK8F2dTuAHOA5nShivo=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/5ee1ab72-2098-4175-b65e-eb60fc594097.jpg" width="264" style="max-width:1600px;paddi:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-2162202579908930825mcnImage CToWUd a6T    ng-scope" tabindex="0" id="ele1492068646784-116" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646784-116" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010900378_7818.jpg"></div></div></dazzle-email-image></td>
                            </tr>
                        </tbody></table>
                    
                    <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="m_-2162202579908930825mcnImageGroupContentContainer" style="border-collapse:collapse">
                            <tbody><tr>
                                <td class="m_-2162202579908930825mcnImageGroupContent" valign="top" style="paddi:9px;paddi:0;paddi:0">
                                
                                    
                                        <dazzle-email-image alt="" src="https://ci3.googleusercontent.com/proxy/aqfx4k9EKXkmyD8A7DfR2z75iWMGrVMqeopNm4mZLPG7v_7X9aCyhsrEPeaRXkvTZFLg0tcPGwM1cWEdgwAELcUygamt0fVUm6XjWAD9hbk7IBkJcIYgs_Xx9TZbTvTLhU82ucRp60F19Nxw5O52Q5uyiZRU104CVJHUOCY=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/d40ee5f7-f27d-46af-a6a9-4312122d90f6.jpg" width="264" style="max-width:1232px;paddi:0;border:0;height:auto;outline:none;text-decoration:none;vertical-align:bottom" class="m_-2162202579908930825mcnImage CToWUd a6T    ng-scope" tabindex="0" id="ele1492068646784-117" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492068646784-117" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010902592_BAF5.jpg"></div></div></dazzle-email-image></td>
                            </tr>
                        </tbody></table>
                    
                </td>
            </tr>
        
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><span style="font-size:13px">會員認真積極參與各項board game遊戲</span></div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:300px;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center">互相合作完成board game遊戲</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
</tr>
							<tr>
								<td valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-2162202579908930825templateColumns" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
										<tbody><tr>
											<td valign="top">
												
												<table align="right" border="0" cellpadding="0" cellspacing="0" width="400" id="m_-2162202579908930825templateBody" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
													<tbody><tr>
														<td></td>
													</tr>
												</tbody></table>
												
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" id="m_-2162202579908930825templateSidebar" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
													<tbody><tr>
														<td valign="top"></td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="m_-2162202579908930825templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:2px solid #eaeaea;border-bottom:0;paddi:9px;paddi:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_-2162202579908930825mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="paddi:9px;paddi:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_-2162202579908930825mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="paddi:9px;paddi:9px;paddi:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:10px;paddi:9px" class="m_-2162202579908930825mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_-2162202579908930825mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492154810164000&amp;usg=AFQjCNFcTDcRncQuKtoydgb9i1AlHDbgmA"><img src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd    ng-scope" id="ele1492068646784-118" custom="editorImageElement"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_-2162202579908930825mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492154810164000&amp;usg=AFQjCNFcTDcRncQuKtoydgb9i1AlHDbgmA">Facebook專頁</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:10px;paddi:9px" class="m_-2162202579908930825mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_-2162202579908930825mcnFollowIconContent">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492154810164000&amp;usg=AFQjCNGpfRNAu5SvXv5PUOY3Ok_DvpfLFg"><img src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd    ng-scope" id="ele1492068646784-119" custom="editorImageElement"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_-2162202579908930825mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492154810164000&amp;usg=AFQjCNGpfRNAu5SvXv5PUOY3Ok_DvpfLFg">半島青年商會網站</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:0;paddi:9px" class="m_-2162202579908930825mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_-2162202579908930825mcnFollowIconContent">
                                                                                    <a href="mailto:info@hkpjc.org" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/7qzpyVB6GsqI5yyevmVjGxT5eaoFOIhp5YUoxjUOyOGmq4G4GtelUrXlriffPbBB6IELkO_hU8xqN33CegBw2Edkn6SMFI76PRbVjeNB0UwdjNg4r3Y9r1ubmWo1oNsjk2vqbL5O5ZZD=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd    ng-scope" id="ele1492068646785-120" custom="editorImageElement"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_-2162202579908930825mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="mailto:info@hkpjc.org" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank">聯絡我們</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-2162202579908930825mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-2162202579908930825mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-2162202579908930825mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-2162202579908930825mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_-2162202579908930825mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <em>Copyright © 2017&nbsp;</em>半島青年商會<em>, All rights reserved.</em><br>
<br>
<strong>Our mailing address is:</strong><br>
半島青年商會<br>
香港上環干諾道西21號海景商業大廈21樓<br>
<br>
我們尊重閣下的私人權利及接納刪除電子郵件的要求。 如閣下不欲收到由半島青年商會所發出的電郵，請電郵到<a href="mailto:secretary@hkpjc.org?subject=%E5%81%9C%E6%AD%A2%E6%8E%A5%E6%94%B6%E9%9B%BB%E9%83%B5%E8%A8%8A%E6%81%AF&amp;body=%0A%0A" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#3399ff">secre<wbr>tary@hkpjc.org</span></a>通知我們， 日後閣下的電郵地址將不會再收到本會所發出之有關宣傳電郵。
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
						</tbody></table>
      </div>
						
                    </td>
                </tr>
            </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
    </div></div>