<table text="" id="contentText" align="left" border="0" cellpadding="0"
       cellspacing="0"
       style="max-width:100%;min-width:100%;border-collapse:collapse"
       width="100%" class="m_-8745497017068329237mcnTextContentContainer">
    <tbody>
    <tr>

        <td valign="top" class="m_-8745497017068329237mcnTextContent"
            style="padding:0px 18px 9px;line-height:150%;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;text-align:left">

            致各前會長、參議員、資深會員、會員及準會員：
            <div style="text-align:center">&nbsp;</div>

            <div style="text-align:left">本會前會長莫羨儀先嚴莫海先生於2017年4月5日被主接回天家
                <wbr>
                ，享年93歲。現定於2017年4月12日(星期三) 晚上6時假萬國殯儀館3樓303舉行基督教儀式喪禮，<br>
                <br>
                晚上6:00-8:00 弔唁<br>
                晚上8:00-8:45 安息禮<br>
                <br>
                並於翌日4月13日(星期三)
                <wbr>
                早上8時15分大殮後到哥連臣角火葬場火化<br>
                <br>
                董事局成員將於當晚7時30分到場致祭。<br>
                <br>
                謹此敬告<br>
                <br>
                會長<br>
                林偉洛<br>
                2017年4月8日
            </div>

        </td>
    </tr>
    </tbody>
</table>