<dazzle-email-image align="center"
                    alt=""
                    src="https://ci4.googleusercontent.com/proxy/v6KpDvOMrvY99KvPrb1Roo9u5feoDIl45neamOn_dDjsvdznfgCnE6fgB8d66nYdfpZ2tFQQ3Nk-OlEy2uMk1YTMcuNOkaFKMx5OK0aMWKbJTHxjg432sw16EcH2Df7AhFc0TH9b7kJSVj7o9XGD9RwWQOJl5x9KmdfzWeC9Gf5AyM8=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/_compresseds/de75506c-5b87-4622-8e0a-64a9c321a1d7.jpg"
                    width="164"
                    style="max-width:100%;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none"
                    class="m_-6417973074121265216mcnImage CToWUd   ng-scope"
                    id="ele1492054740636-98"
                    custom="editorImageElement">
    <div bind-html-compile="model.html"
         context-menu="menuOptions"
         class="ng-scope">
        <div class="ng-scope"><img
                id="img-ele1492054740636-98"
                class="img-responsive"
                src="http://pjc6.dazzle.website/image/id1491990383303_8D15.png">
        </div>
    </div>
</dazzle-email-image>