<div text id="ele89234">
    Hello, henry
</div>

<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_6939173951158631336bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#9854c5">
                <tbody><tr>
                    <td align="center" valign="top" id="m_6939173951158631336bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
						
						
						<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
							<tbody><tr>
								<td valign="top" id="m_6939173951158631336templatePreheader" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;paddi:9px;paddi:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            半島青年商會【國際事務組】<wbr>銀禧紀念慶祝晚宴濠江青年商會姊妹結盟
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
								<td valign="top" id="m_6939173951158631336templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;paddi:9px;paddi:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_6939173951158631336mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_6939173951158631336mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_6939173951158631336mcnImageContent" valign="top" style="paddi:9px;paddi:9px;paddi:0;paddi:0;text-align:center">
                                
                                    
                                        <dazzle-email-image align="center" alt="" src="https://ci5.googleusercontent.com/proxy/BsXyTvOLjqMPtMFyJaWXHZuYQef2Q8s9dLcjXPdgyIGJW-fguemCudwMOwO_PIeIxVKTP7-t0gTlLUAqGXZJDSQsYxWpx_BVSybxJGteU30yNzPlb3aWGAJzMtPJN0r82F1KcRnUJBswH3Cpe9gBik80Ga4xpj4eZAQgFb8=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/images/090c7cde-654b-41a9-beab-46a1990e02d3.jpg" width="564" style="max-width:1959px;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6939173951158631336mcnImage CToWUd a6T   ng-scope" tabindex="0" id="ele1492012896015-47" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492012896015-47" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492010892248_4AE5.jpg"></div></div></dazzle-email-image></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_6939173951158631336mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_6939173951158631336mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_6939173951158631336mcnImageContent" valign="top" style="paddi:9px;paddi:9px;paddi:0;paddi:0;text-align:center">
                                
                                    
                                        <dazzle-email-image align="center" alt="" src="https://ci4.googleusercontent.com/proxy/his08017EdR4yWOlbKMaydKYyMrbZM2ds2U5-yQPw-MExj_BbOLhQpjgl3JkFqOY803U848xwybgEtKn-724VdEWTghhPmAbYObm9-a4gyY6htz3TYC604KHSnXp_dhIl7D3ZmaIE5TIq3clEyuVLajlXBRoGZBBbKATW5lYBP6sa5g=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/_compresseds/db9794f5-dc2c-409b-b59d-463ff2bf9255.jpg" width="564" style="max-width:3508px;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6939173951158631336mcnImage CToWUd a6T   ng-scope" tabindex="0" id="ele1492012896015-48" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492012896015-48" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492011362884_86E4.jpg"></div></div></dazzle-email-image></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></td>
							</tr>
							<tr>
								<td valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" id="m_6939173951158631336templateColumns" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
										<tbody><tr>
											<td valign="top">
												
												<table align="right" border="0" cellpadding="0" cellspacing="0" width="400" id="m_6939173951158631336templateBody" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
													<tbody><tr>
														<td><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent  ng-scope medium-editor-element" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" text="" id="ele1492048575637-56" bind-html-compile="model.html" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="9" medium-editor-index="850381d9-fbe0-0088-b4e2-2500436c6b07">
                        
                            <span style="font-size:12px" class="ng-scope">會長林偉洛、上屆會長杜月嬋、總會指派執行委員梁嘉恩參議員、<wbr>各&nbsp;前會長、參議員、資深會員、會員及準會員：</span>

<div style="text-align:center" class="ng-scope">
<p style="text-align:center;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><u><strong id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3657">半島青年商會‧</strong><strong>銀禧紀念</strong><strong>慶祝晚宴</strong><br>
<strong id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3657">濠江青年商會姊妹結盟</strong></u></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3650" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">自結盟以來,&nbsp;兩會一直風雨同路,&nbsp;緊密合作,&nbsp;情誼深厚。 為慶賀結盟1/4世紀,&nbsp;現誠邀半島會友踴躍參與續盟慶典!</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3649" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">並於當晚與濠江姊妹會一齊見證儀式,&nbsp;分享喜悅以及擕手邁進新一 頁,&nbsp;敬請各位鼎力支持,&nbsp;萬勿錯過</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3646" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%">&nbsp;</p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3666" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px"><strong>4月</strong><strong>29</strong><strong>日</strong><strong>(</strong><strong>星期六</strong><strong>)&nbsp;</strong><strong id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3665">招待姊妹會濠江青年商會行程表</strong></span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3667" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px"><strong>&nbsp;</strong>10:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中國客運碼頭（尖沙咀）接船&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3669" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">11:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;長沙灣龍寶酒家用膳</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3670" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">11:45&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Team A濠江青年商會helpers</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3671" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">到達長沙灣九龍工業學校集合(全港青年翻譯比賽)</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3673" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">13:30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Team B濠江青年商會會友</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3674" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">參觀中環PMQ或石硤尾賽馬會創意藝術中心</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3676" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">16:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;下午茶&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3677" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">19:00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;到達晚宴場地尖沙咀金殿海景宴會廳&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

<p style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">22:30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; After Party&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3645" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">00:30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中國客運碼頭（尖沙咀）回程</span></p>

<p style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><br>
<span style="font-size:12px"><strong><u>晚宴詳情：</u></strong></span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3644" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">日期：4月29日&nbsp;(星期六)<br>
時間：晚上&nbsp;&nbsp; 7:00 &nbsp;註冊<br>
　　　晚上&nbsp;&nbsp;&nbsp;7:30 &nbsp;晚宴<br>
地點：尖沙咀彌敦道63號iSquare 26樓&nbsp;(金殿海景宴會廰)<br>
費用：每位港幣480元正<br>
服飾：商務正裝<br>
<br>
<strong>如有任何查詢或報名，請聯絡:</strong></span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3685" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px">籌委會主席&nbsp;談秀琼&nbsp;&nbsp;(Bobo) &nbsp;<a href="tel:9366%209428" value="+85293669428" target="_blank">9366-9428</a><br>
宣傳及總務主委&nbsp;任寶瑜&nbsp;&nbsp;(Achilles) &nbsp;<a href="tel:6414%206296" value="+85264146296" target="_blank">6414-6296</a>&nbsp;<br>
或透過以下連結報名</span></p>

<p id="m_6939173951158631336yui_3_16_0_ym19_1_1491396582912_3684" style="text-align:left;margin:10px 0;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%"><span style="font-size:12px"><a href="https://goo.gl/forms/8RWCEl955TOgvq8J3" rel="nofollow" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://goo.gl/forms/8RWCEl955TOgvq8J3&amp;source=gmail&amp;ust=1492096920496000&amp;usg=AFQjCNFS41e9c0oqFzmxlNcMyYIic6vYGQ">https://goo.gl/forms/8RWCEl955 TOgvq8J3</a>&nbsp;</span></p>
</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
													</tr>
												</tbody></table>
												
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="200" id="m_6939173951158631336templateSidebar" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;paddi:0;paddi:0">
													<tbody><tr>
														<td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><em><strong><span style="font-size:18px">活動預告</span></strong></em></div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnImageBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:9px" class="m_6939173951158631336mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="m_6939173951158631336mcnImageContentContainer" style="min-width:100%;border-collapse:collapse">
                        <tbody><tr>
                            <td class="m_6939173951158631336mcnImageContent" valign="top" style="paddi:9px;paddi:9px;paddi:0;paddi:0;text-align:center">
                                
                                    
                                        <dazzle-email-image align="center" alt="" src="https://ci4.googleusercontent.com/proxy/v6KpDvOMrvY99KvPrb1Roo9u5feoDIl45neamOn_dDjsvdznfgCnE6fgB8d66nYdfpZ2tFQQ3Nk-OlEy2uMk1YTMcuNOkaFKMx5OK0aMWKbJTHxjg432sw16EcH2Df7AhFc0TH9b7kJSVj7o9XGD9RwWQOJl5x9KmdfzWeC9Gf5AyM8=s0-d-e1-ft#https://gallery.mailchimp.com/94c46dceb6142f06a822e8377/_compresseds/de75506c-5b87-4622-8e0a-64a9c321a1d7.jpg" width="164" style="max-width:6048px;paddi:0;display:inline!important;vertical-align:bottom;border:0;height:auto;outline:none;text-decoration:none" class="m_6939173951158631336mcnImage CToWUd   ng-scope" id="ele1492012896016-49" custom="dazzleEmailImage"><div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope"><div class="ng-scope"><img id="img-ele1492012896016-49" style="width:100%; height:auto;" src="http://pjc6.dazzle.website/image/id1492011364735_C48F.jpg"></div></div></dazzle-email-image></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse" text="">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent  ng-scope medium-editor-element" style="padding:0px 18px 9px;line-height:150%;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;text-align:left" text="" id="ele1492048575640-57" bind-html-compile="model.html" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="10" medium-editor-index="317752f4-978d-a5ae-42db-bfed0c2822b0">
                        
                            <div style="text-align:center" class="ng-scope"><u><strong>四月月會 -<br>
仔細入"微"，商機無限</strong></u></div>

<div style="text-align:left" class="ng-scope"><strong>日期：</strong>2017年4月6日<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (星期四)<br>
<strong>時間</strong><strong>&nbsp;: </strong>&nbsp;晚上&nbsp;7:00 - 10:30<br>
<strong>地點：&nbsp;</strong>銅鑼灣怡和街88號富豪香港酒店<br>
<strong>費用：</strong><br>
(半島會員)每位港幣370元正<br>
(非半島會員)每位港幣390元正<br>
<strong>查詢：</strong><br>
祖國事務董事 馮善衡<br>
(電話：<a href="tel:6386%204194" value="+85263864194" target="_blank">6386 4194</a>)</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_6939173951158631336mcnDividerBlockOuter">
        <tr>
            <td class="m_6939173951158631336mcnDividerBlockInner" style="min-width:100%;padding:18px">
                <table class="m_6939173951158631336mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse" text="">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><u><strong>PR工作坊- " 創意無限ｘ社交平台宣傳攻略"</strong></u></div>

<div style="text-align:left"><strong>日期：</strong>2017年4月8日<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (星期六)</div>

<div style="text-align:left"><strong>時間：</strong>下午1時&nbsp;– 4時<br>
<strong>地點：</strong>九龍青山道483A卓匯中心33樓<br>
<strong>費用：</strong>$50/位<br>
<strong>查詢：</strong><br>
公關推廣董事鍾嘉賢　<br>
(電話：<a href="tel:6542%205213" value="+85265425213" target="_blank">6542 5213</a>)</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_6939173951158631336mcnDividerBlockOuter">
        <tr>
            <td class="m_6939173951158631336mcnDividerBlockInner" style="min-width:100%;padding:18px">
                <table class="m_6939173951158631336mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse" text="">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:left">
                        
                            <div style="text-align:center"><u><strong>第42屆全港青年翻譯比賽</strong></u></div>

<div style="text-align:left"><strong>日期：</strong>2017年4月29日<br>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (星期六)</div>

<div style="text-align:left"><strong>時間：</strong>下午1時<br>
<strong>地點：長沙灣</strong>九龍工業學校<br>
<strong>查詢：</strong><br>
青年事務董事朱韋謙　<br>
(電話：<a href="tel:9812%208988" value="+85298128988" target="_blank">9812 8988</a>)</div>

                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
													</tr>
												</tbody></table>
												
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="m_6939173951158631336templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:2px solid #eaeaea;border-bottom:0;paddi:9px;paddi:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_6939173951158631336mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="paddi:9px;paddi:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_6939173951158631336mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="paddi:9px;paddi:9px;paddi:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:10px;paddi:9px" class="m_6939173951158631336mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6939173951158631336mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492096920496000&amp;usg=AFQjCNG4T1eN9rdV7BU8PmTcu256e3XX-w"><img src="https://ci5.googleusercontent.com/proxy/THEfQ-zOr2AaMLVp_TKYp66Poy4XIPQHLLPvp3JqaDTShBZ9oZafDmhUm7hfcJbSG9vWeV4d9Esrao80PBgUGiMiifS3Dl-CqVUBIY1Qj6oJicgM-Vrdv4BVqtr98zDVKOE=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6939173951158631336mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="https://www.facebook.com/hkpjc/?fref=ts" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=https://www.facebook.com/hkpjc/?fref%3Dts&amp;source=gmail&amp;ust=1492096920496000&amp;usg=AFQjCNG4T1eN9rdV7BU8PmTcu256e3XX-w">Facebook專頁</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:10px;paddi:9px" class="m_6939173951158631336mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6939173951158631336mcnFollowIconContent">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492096920496000&amp;usg=AFQjCNHDgHSAHk9ubdQUHrdQrB1x2nSAqg"><img src="https://ci4.googleusercontent.com/proxy/XGenZrmUcdiVbGsrNYCRgHNYNfacIjhuLbFebzTFb_97r7SkYv7ogFxlEPf2hCuN5Kk9p8x-3_ifj6nSGicK0tVj4vtdS4rtGr6b05PDLfKpkMu-ZN-ze73H72HWQg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6939173951158631336mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="http://www.hkpjc.org/index.php/en/" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=zh-TW&amp;q=http://www.hkpjc.org/index.php/en/&amp;source=gmail&amp;ust=1492096920496000&amp;usg=AFQjCNHDgHSAHk9ubdQUHrdQrB1x2nSAqg">半島青年商會網站</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                        
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="paddi:0;paddi:9px" class="m_6939173951158631336mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="paddi:5px;paddi:10px;paddi:5px;paddi:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="m_6939173951158631336mcnFollowIconContent">
                                                                                    <a href="mailto:info@hkpjc.org" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/7qzpyVB6GsqI5yyevmVjGxT5eaoFOIhp5YUoxjUOyOGmq4G4GtelUrXlriffPbBB6IELkO_hU8xqN33CegBw2Edkn6SMFI76PRbVjeNB0UwdjNg4r3Y9r1ubmWo1oNsjk2vqbL5O5ZZD=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/color-forwardtofriend-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="m_6939173951158631336mcnFollowTextContent" style="paddi:5px">
                                                                                    <a href="mailto:info@hkpjc.org" style="font-family:Helvetica;font-size:12px;text-decoration:none;color:#656565" target="_blank">聯絡我們</a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        
                                    
                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_6939173951158631336mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_6939173951158631336mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_6939173951158631336mcnTextBlockInner" style="paddi:9px">
              	
			    
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_6939173951158631336mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="m_6939173951158631336mcnTextContent" style="paddi:0;paddi:18px;paddi:9px;paddi:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">
                        
                            <em>Copyright © 2017&nbsp;</em>半島青年商會<em>, All rights reserved.</em><br>
<br>
<strong>Our mailing address is:</strong><br>
半島青年商會<br>
香港上環干諾道西21號海景商業大廈21樓<br>
<br>
我們尊重閣下的私人權利及接納刪除電子郵件的要求。 如閣下不欲收到由半島青年商會所發出的電郵，請電郵到<a href="mailto:secretary@hkpjc.org?subject=%E5%81%9C%E6%AD%A2%E6%8E%A5%E6%94%B6%E9%9B%BB%E9%83%B5%E8%A8%8A%E6%81%AF&amp;body=%0A%0A" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank"><span style="color:#3399ff">secre<wbr>tary@hkpjc.org</span></a>通知我們， 日後閣下的電郵地址將不會再收到本會所發出之有關宣傳電郵。
                        </td>
                    </tr>
                </tbody></table>
				
                
				
            </td>
        </tr>
    </tbody>
</table></td>
							</tr>
						</tbody></table>
						
						
                    </td>
                </tr>
            </tbody></table>