<form id="firstform2" class="ng-pristine ng-valid-email ng-invalid ng-invalid-required" style="">
                                            

<div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class="w-form-row-field"> <input style="height: 60px; color: black;" required="" type="text" id="firstform_email2" placeholder="Your company name" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true"></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class="w-form-row-field"> <input style="height: 60px; color: black;" required="" type="email" id="firstform_email2" placeholder="Your company email" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true"></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper" id="_wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class="w-form-row-field"> <input style="height: 60px; color: black;" required="" type="text" id="firstform_email2" placeholder="Your contact number" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true"></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class="w-form-row-field"> <input style="height: 60px; color: black;" required="" type="text" id="firstform_email2" placeholder="Your company website" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true"></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class=""> <select style="height: 60px; color: #8b8b8b;" required="" type="email" id="firstform_email2" placeholder="Please input at least 40 terms to describe your company" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true">

    <option value="-">Please select the investment you need</option>

<option value="<0.5M">less than $500,000</option>
    <option value="0.5M - 2M">$500,000 - $2,000,000</option>
    <option value="2M - 5M">$2,000,000 - $5,000,000</option>
    <option value=">5M">greater than $5,000,000</option>


</select></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-12 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 10px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <div class="w-form-row-field"> <textarea style="height: 300px; color: black;" required="" type="email" id="firstform_email2" placeholder="Please type at least 400 words for describe your company" ng-model="model.email" class="ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched" aria-invalid="true"></textarea></div>
                                                                    </div>
                                                                    <div class="w-form-row-field"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                    </div>
                                </div>
                            </div><div class="wpb_raw_code wpb_content_element wpb_raw_html" id="_wpb_raw_code_wpb_content_element_wpb_raw_html" style="margin:10px;">
                                <div class="wpb_wrapper">
                                    <div style="max-width: 650px; margin: auto;">
                                        <div class="g-cols wpb_row type_default valign_top vc_inner">
                                                <div class="vc_col-sm-6 wpb_column vc_column_container">
                                                    
                                                </div>
                                                
                                            <div class="vc_col-sm-6 wpb_column vc_column_container">
                                                    <div class="vc_column-inner" style="padding-right: 0px; padding-left: 0;">
                                                        <div class="wpb_wrapper">
                                                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                                <div class="wpb_wrapper">
                                                                    <div class="w-form-row for_email" style="margin-bottom: 0px;">
                                                                        <button id="upload" style="margin:5px; float: left; border-radius: 0;height: 60px !important; background-color: #a29d82; padding-left: 0; padding-right: 0; width: 150px;" class="w-btn us_btn_1 us-btn-style_1 icon_none" ng-click="send()">上載相關檔案</button><button id="submit" style="margin:5px; float: left; border-radius: 0;height: 60px !important; background-color: #a29d82; padding-left: 0; padding-right: 0; width: 150px;" class="w-btn us_btn_1 us-btn-style_1 icon_none" ng-click="send()">發送</button>
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div></div>
                                    </div>
                                </div>
                            </div></form>