
    <style>
        .login-wrap .closeButton {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 20;
            color: white;
        }

        .loginDialog {
            width: 425px !important;
        }

        *:focus {
            outline: none;
        }

        *, :after, :before {
            box-sizing: border-box
        }

        .clearfix:after, .clearfix:before {
            content: '';
            display: table
        }

        .clearfix:after {
            clear: both;
            display: block
        }

        a {
            color: inherit;
            text-decoration: none
        }

        .login-wrap {
            width: 425px;
            margin: auto;
            min-height: 680px;
            position: relative;
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
			background: #ffce1c;
        }
		.login-form .group .label {
			display:inline-block;
		}

        .login-html {
            position: absolute;
            padding: 30px 70px 25px 70px;
        }

		.login-html md-content {
			background: none;
		}
        .login-html .sign-in-htm,
        .login-html .sign-up-htm {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear;
        }

        .login-html .sign-in,
        .login-html .sign-up,
        .login-form .group .check {
            display: none;
        }

        .login-html .tab,
        .login-form .group .label,
        .login-form .group .button {
            text-transform: uppercase;
        }

        .login-html .tab {
            font-size: 22px;
            margin-right: 15px;
            padding-bottom: 5px;
            margin: 0 15px 10px 0;
            display: inline-block;
            border-bottom: 2px solid transparent;
        }

        .login-html .sign-in:checked + .tab,
        .login-html .sign-up:checked + .tab {
            color: #fff;
            border-color: #1161ee;
        }

        .login-form {
            min-height: 345px;
            position: relative;
            perspective: 1000px;
            transform-style: preserve-3d;
        }

        .login-form .group {
            margin-bottom: 15px;
        }

        .login-form .group .label,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
        }

        .login-form .group .button {
            border: none;
            padding: 15px 20px;
            border-radius: 25px;
        }

        .login-form .group input[data-type="password"] {
            text-security: circle;
            -webkit-text-security: circle;
        }

        .login-form .group .label {
            color: #aaa;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #1161ee;
        }

        .login-form .group .button:hover:enabled {
            background: #496dff;
        }

        .login-form .group .button:disabled {
            background: rgba(198, 203, 200, 0.64);
        }

        .login-form .group label .icon {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            background: rgba(255, 255, 255, .1);
        }

        .login-form .group label .icon:before,
        .login-form .group label .icon:after {
            content: '';
            width: 10px;
            height: 2px;
            background: #fff;
            position: absolute;
            transition: all .2s ease-in-out 0s;
        }

        .login-form .group label .icon:before {
            left: 3px;
            width: 5px;
            bottom: 6px;
            transform: scale(0) rotate(0);
        }

        .login-form .group label .icon:after {
            top: 6px;
            right: 0;
            transform: scale(0) rotate(0);
        }

        .login-form .group .check:checked + label {
            color: #fff;
        }

        .login-form .group .check:checked + label .icon {
            background: #1161ee;
        }

        .login-form .group .check:checked + label .icon:before {
            transform: scale(1) rotate(45deg);
        }

        .login-form .group .check:checked + label .icon:after {
            transform: scale(1) rotate(-45deg);
        }

        .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
            transform: rotate(0);
        }

        .login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
            transform: rotate(0);
        }

        .hr {
            height: 2px;
            margin: 60px 0 50px 0;
            background: rgba(255, 255, 255, .2);
        }

        .foot-lnk {
            text-align: center;
        }
		.subdomain {
			color: white;
			font-size: 24px;
			padding: 5px 20px;
		}
		.do-status {
			color:green;
			font-size:30px;
		}
    </style>
    <div class="login-wrap"  class="loginDialog" style="width:450px;">
        <md-button class="closeButton md-icon-button" ng-click="cancel()" aria-label="cancel">
            <i class="fa fa-times"></i>
        </md-button>
        <div class="login-html">
		  <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="登入">
        <md-content class="md-padding">
          <h1 class="md-display-2">登入</h1>
						<div class="group">
                            <label for="loginUsername" class="label">用戶名</label>
                            <input id="loginUsername" type="text" class="input"
                                   ng-model="loginJson.username">
                        </div>
                        <div class="group">
                            <label for="loginPassword" class="label">密碼</label>
                            <input id="loginPassword" type="password" class="input" data-type="password"
                                   ng-model="loginJson.password">
                        </div>
							  
						  

                        <div class="group layout-row">
							<div class="flex-50">
								<md-button class="md-raised md-primary" ng-click="login()">登入</md-button>
					
							</div>
							<div class="flex-50">
								  <md-button class="md-raised md-primary">忘記密碼</md-button>
					
							</div>
                        </div>

		  </md-content>
      </md-tab>
		<md-tab label="註冊">
		
		</md-tab>
	  
  </md-tabs>
		
              
         </div>
    </div>
