<compned-form class="ng-scope" id="ele1510710123407-67" custom="compnedForm" draggable="true">

		 <style class="ng-scope">


		.label-required {
			color: red;
		}
		legend {
			margin-bottom: 10px;
		}
		img.image-thumbnail {
			max-width: 100px;
			max-height: 100px;
			width: auto;
			height: auto;
		}
		.fileinputbox {
			position: absolute;
			opacity: 0;
			width: 0px;
		}
		.myForm {
			margin: 2em;
			width: 100%;
		}
		label {
			text-align: right;
			padding-right: 10px;
		}
		input {
			width: auto;
		}
		button {
			position: relative;
			float: right;
		}
		#mydataform {
			position: reltive;
			width: 100%;
			padding: 40px;
		}
	</style>
	<div class="myformWrapper">
		<div class="row well2">
			<form id="mydataform" class="myForm-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add-add ng-pristine ng-valid" name="myForm" style="">

				<text class="ng-scope medium-editor-element" data-placeholder="Type your text. 輸入文字" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="4" medium-editor-index="ee77d796-1792-14ac-33a6-5831767db35a"><p class="ng-scope">
		請閣下填妥以下資料，提交表格後，請到閣下電郵，以便進行帳戶激活程序。凡註冊成為會員，均有機會參加網上比賽。另外，可獲本會最新情報、產品及服務優惠。</p></text><div layout="row" style="position: relative; float: left; width:100%;" class="layout-row">
					<div layout="column" flex="50" class="layout-column flex-50">
						<div class="form-group">
							<div>
								<div class="ng-scope">
									<div layout="row" class="layout-row">
										<div layout="column" flex="30" class="layout-column flex-30">
											<label for="姓" class="ng-binding"><span class="label-required">*</span>姓：</label>
										</div>
										<div layout="column" flex="70" class="layout-column flex-70">
											<input type="text" class="form-control" id="姓" placeholder="" required="required" aria-invalid="true" style="">
										</div>

									</div>
								</div>





								<div>
									<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
								</div>
							</div>
						</div>
						<div class="form-group">
							<div>
								<div class="ng-scope">
									<div layout="row" class="layout-row">
										<div layout="column" flex="30" class="layout-column flex-30">
											<label for="名" class="ng-binding"><span class="label-required">*</span>名：</label>
										</div>
										<div layout="column" flex="70" class="layout-column flex-70">
											<input type="text" class="form-control" id="名" placeholder="" required="required" aria-invalid="true" style="">
										</div>

									</div>
								</div>





								<div>
									<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
								</div>
							</div>
						</div>
						<div class="form-group">
						<div>


							<div class="ng-scope">
								<div layout="row" class="layout-row">
									<div layout="column" flex="30" class="layout-column flex-30">
										<label for="密碼" class="ng-binding"><span class="label-required">*</span>密碼：</label>
									</div>
									<div layout="column" flex="70" class="layout-column flex-70">
										<input type="password" class="form-control" id="密碼" placeholder="" required="required" aria-invalid="true" style="">
									</div>
								</div>
							</div>





							<div>
								<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
							</div>
						</div>
					
					</div>
					<div class="form-group">
						<div>


							<div class="ng-scope">
								<div layout="row" class="layout-row">
									<div layout="column" flex="30" class="layout-column flex-30">
										<label for="重複密碼" class="ng-binding"><span class="label-required">*</span>重複密碼：</label>
									</div>
									<div layout="column" flex="70" class="layout-column flex-70">
										<input type="password" class="form-control" id="重複密碼" placeholder="" required="required" aria-invalid="true" style="">
									</div>
								</div>
							</div>





							<div>
								<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
							</div>
						</div>
					</div>
						<div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="電郵" class="ng-binding"><span class="label-required">*</span>電郵：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="text" class="form-control" id="電郵" placeholder="" required="required" aria-invalid="true" style="">
								</div>

							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="孚生編號" class="ng-binding"><span class="label-required">*</span>學生編號：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="text" class="form-control" id="學生編號" placeholder="" required="required" aria-invalid="true" style="">
								</div>

							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>





						<div class="ng-scope">

							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="性別" class="ng-binding">性別：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<div layout="row" class="layout-row">
										<label for="男" class="form-check-label">
											<input value="男" name="性別" type="radio" class="form-check-input" id="性別_0"> 男
										</label>    
										<label for="女" class="form-check-label">
											<input value="女" name="性別" type="radio" class="form-check-input" id="性別_1"> 女
										</label>    
									</div>    
										<!--
									<div>
										<label for="{{f.headerName}}" class="form-check-label">
											<input value="{{optionItem}}" name="{{f.headerName}}" type="radio" ng-model="formdata['{{f.headerName}}']" class="form-check-input" id="{{f.headerName}}_{{$index}}"> {{optionItem}}
										</label>
									</div>
									-->
									<!--
									<md-radio-group layour="row" class="layout-row">
									  <md-radio-button value="男" class="ng-binding"> 男</md-radio-button>   
									  <md-radio-button value="女" class="ng-binding"> 女</md-radio-button>
									</md-radio-group>
									-->
								</div>
							</div>


						</div>					





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				<div class="form-group">
					<div>





						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="出生日期" class="ng-binding">出生日期：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="date" class="form-control" id="出生日期" placeholder="" aria-invalid="false" style="">
								</div>
							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
						<div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="類別" class="ng-binding"><span class="label-required">*</span>類別：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<select ng-model="student" class="form-control" id="類別_6" aria-invalid="false" style="">
										<option value="" selected="selected">--請選擇--</option>
										<option value="學生" class="ng-binding">學生</option>
										<option value="非學生" class="ng-binding">非學生</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
						
					<div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="手機" class="ng-binding">手機：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="text" class="form-control" id="手機" placeholder="" aria-invalid="false" style="">
								</div>

							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div><div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="地址" class="ng-binding">地址：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="text" class="form-control" id="地址" placeholder="" aria-invalid="false" style="">
								</div>

							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div></div>
					
					<div ng-if="student=='學生'" layout="column" flex="50" class="layout-column flex-50">
						
				  <div class="form-group">
					<div>





						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="100" class="layout-column flex-100">
									<a href="#"><editor-image-element class="ng-scope" id="ele1510820541704-71" custom="editorImageElement" draggable="true"><div class="cardImage">
    <img src="http://www.compned.com/image/螢幕快照 2017-11-16 下午4.20.21.png" id="studentcard_14">
</div>
<style class="ng-scope">
    .cardImage {
    width:60%;
    height:auto;
    max-width:150px;
    max-height: 150px;
    display:block;
    margin:0 auto;
    border:#e7e7e7 1px solid;
}
.cardImage img {
    width:100%;
}
</style></editor-image-element></a>
									<button type="button" ng-click="uploadToDomain('學生證／手冊','studentcard_14','imageOnly')" class="btn btn-default" style="width:150px;margin:0 auto;background: #84cac8;color: white;">學生證／手冊</button>
										
								
								</div>
								
								<!--
								
								 <input type="text" ng-model="formdata['{{f.headerName}}']" class="form-control fileinputbox" id="{{f.headerName}}" placeholder="{{f.default}}">
						<button type="button" ng-click="uploadToDomain('{{f.headerName}}','{{f.headerName}}_{{$index}}','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
						<div class="" style="margin-top: 10px;" ng-show="formdata['{{f.headerName}}']">
							<img class="image-thumbnail" id="img_{{f.headerName}}_{{$index}}" ng-show="formdata['{{f.headerName}}']">
							<a href="#" target="_blank" id="{{f.headerName}}_{{$index}}"></a>
						</div>
						
						-->
								
								<!--
								<div layout="column" flex="40" class="layout-column flex-30">
									<label for="學生證／手冊" class="ng-binding">學生證／手冊：</label>
								</div>
								<div layout="column" flex="60" class="layout-column flex-70">
									<div class="">
										<input type="text" class="form-control fileinputbox" id="學生證／手冊" placeholder="">

										<button type="button" class="btn btn-default">選擇及上載檔案</button>
										<a href="#" target="_blank" id="學生證／手冊_14"></a>
									</div>
								</div>
								-->
							</div>

						</div>



						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>				
				
						
				<div class="form-group">
					<div>



						<div layout="row" class="layout-row">
							<div layout="column" flex="30" class="layout-column flex-30">
									<label for="學校類別" class="ng-binding">學校類別：</label>
							</div>
							 <div layout="column" flex="70" class="layout-column flex-70">
								<div layout="row" class="layout-row">
									<label for="幼稚園" class="form-check-label">
										<input value="幼稚園" name="學校類別" type="radio" ng-model="sex" class="form-check-input" id="學校類別_0"> 幼稚園
									</label>    
									<label for="小學" class="form-check-label">
										<input value="小學" name="學校類別" type="radio" ng-model="sex" class="form-check-input" id="學校類別_1"> 小學
									</label>
									<label for="中學" class="form-check-label">
										<input value="中學" name="學校類別" type="radio" ng-model="sex" class="form-check-input" id="學校類別_2"> 中學
									</label>
									<label for="其他" class="form-check-label">
										<input value="其他" name="學校類別" type="radio" ng-model="sex" class="form-check-input" id="學校類別_1"> 其他
									</label>
								</div>    
									<!--
								<div>
									<label for="{{f.headerName}}" class="form-check-label">
										<input value="{{optionItem}}" name="{{f.headerName}}" type="radio" ng-model="formdata['{{f.headerName}}']" class="form-check-input" id="{{f.headerName}}_{{$index}}"> {{optionItem}}
									</label>
								</div>
								-->
								<!--
								<md-radio-group layour="row" class="layout-row">
								<md-radio-button value="男" class="ng-binding"> 男</md-radio-button>   
								<md-radio-button value="女" class="ng-binding"> 女</md-radio-button>
								</md-radio-group>
								-->
							</div>
						 </div>
					</div>
				</div>
				<div class="form-group">
					<div>
						<div class="ng-scope">

							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="學校" class="ng-binding">學校：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<div class="ng-scope" ng-init="initForm()">
										<div angucomplete="" id="ex1" placeholder="Search schools" pause="100" selectedobject="selectedSchool" localdata="schools" searchfields="SchoolName" titlefield="SchoolName" minlength="1" inputclass="form-control form-control-small" class="ng-isolate-scope"><div class="angucomplete-holder"><input id="ex1_value" type="text" placeholder="Search schools" class="form-control form-control-small" aria-invalid="false" style=""></div></div>

									</div>
								</div>
							</div>

						</div>


						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div>





						<div class="ng-scope">

							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="地區" class="ng-binding">地區：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<select class="form-control" id="地區_12" aria-invalid="false" style="">
										<option value="" selected="selected">--請選擇--</option>
										<option value="北區" class="ng-binding">北區</option>
										<option value="大埔" class="ng-binding">大埔</option>
										<option value="沙田" class="ng-binding">沙田</option>
										<option value="西貢" class="ng-binding">西貢</option>
										<option value="元朗" class="ng-binding">元朗</option>
										<option value="屯門" class="ng-binding">屯門</option>
										<option value="荃灣" class="ng-binding">荃灣</option>
										<option value="葵青" class="ng-binding">葵青</option>
										<option value="深水埗" class="ng-binding">深水埗</option>
										<option value="油尖旺" class="ng-binding">油尖旺</option>
										<option value="九龍城" class="ng-binding">九龍城</option>
										<option value="黃大仙" class="ng-binding">黃大仙</option>
										<option value="觀塘" class="ng-binding">觀塘</option>
										<option value="中西區" class="ng-binding">中西區</option>
										<option value="灣仔" class="ng-binding">灣仔</option>
										<option value="東區" class="ng-binding">東區</option>
										<option value="南區" class="ng-binding">南區</option>
										<option value="離島" class="ng-binding">離島</option>
									</select>
								</div>
							</div>


						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div>





						<div class="ng-scope">

							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="等級" class="ng-binding">等級：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<select class="form-control" id="等級_7" aria-invalid="false" style="">
										<option value="" selected="selected">--請選擇--</option>
										<option value="幼一" class="ng-binding">幼一</option>
										<option value="幼二" class="ng-binding">幼二</option>
										<option value="幼三" class="ng-binding">幼三</option>
										<option value="小一" class="ng-binding">小一</option>
										<option value="小二" class="ng-binding">小二</option>
										<option value="小三" class="ng-binding">小三</option>
										<option value="小四" class="ng-binding">小四</option>
										<option value="小五" class="ng-binding">小五</option>
										<option value="小六" class="ng-binding">小六</option>
										<option value="中一" class="ng-binding">中一</option>
										<option value="中二" class="ng-binding">中二</option>
										<option value="中三" class="ng-binding">中三</option>
										<option value="中四" class="ng-binding">中四</option>
										<option value="中五" class="ng-binding">中五</option>
										<option value="中六" class="ng-binding">中六</option>
										<option value="其他" class="ng-binding">其他</option>
									</select>
								</div>
							</div>


						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
						<div class="form-group">
					<div>
						<div class="ng-scope">
							<div layout="row" class="layout-row">
								<div layout="column" flex="30" class="layout-column flex-30">
									<label for="班別" class="ng-binding">班別：</label>
								</div>
								<div layout="column" flex="70" class="layout-column flex-70">
									<input type="text" class="form-control" id="班別" placeholder="" required="required" aria-invalid="true" style="">
								</div>

							</div>
						</div>





						<div>
							<!--
						<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required">(* 必需填寫)</span>
						<input type="text" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
						-->
						</div>
					</div>
				</div>
				
						
				
						
					</div>              
				</div>
				
				
				
				
				
			   
				
				
				
				
				<div style="position: relative; float: left; width: 20%;">
	  
				</div>
				<div style="position: relative; float: right; width: 100%;"><button type="submit" class="btn btn-primary" style="width:150px; border:none; background:#84cac8; color:white;">提交</button></div>
			</form>
		</div>
	</div></compned-form>