<ul style="position:relative; width:100%; list-style:none;" class="ng-scope">
                <li class="ng-scope" ng-repeat="item in model.menu">
                    <a class="ng-binding" ng-href="{{item.link}}"><div class="aboutUsHeading"><span ng-class="item.csss" class="aboutUsHeadingFont" >{{item.title}}</span></div></a>
                </li>

            </ul>
            
            
            <script>
                function myClass(str){
                    
                    return 'normal';
                }
            </script>