<ul class="ng-scope">
                <li ng-repeat="item in model.menu" ng-class="item0{{$index}}">
                    <a ng-href="{{item.link}}" >{{item.title}}</a>
                    <ul>
                        <li ng-repeat="subitem in item.list"><a ng-href="{{subitem.title}}.html" >{{subitem.title}}</a></li>
                    </ul>
                </li>
                
                
                
                
                
                
                
            </ul>