<style>
    .dropdown:hover ul.dropdown-menu {
        display:block;
    }
</style>
<nav class="navbar navbar-inverse ng-scope" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="display: none;">Dazzle</a>
        </div>
        <div class="collapse navbar-collapse example-navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- ngRepeat: m in model.menu -->
                <li class="dropdown ng-scope" ng-repeat="m in model.menu">
                    <a draggable="false" class="page-scroll  ng-binding" ng-href="{{m.link}}">{{m.title}}</a>
                    <ul class="dropdown-menu " ng-if="m.list.length">
                        <li ng-repeat="sm in m.list">
                            <a class="page-scroll" ng-href="{{sm.link}}">{{sm.title}}</a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </nav>
