
editor-menu-element ol {
    list-style:none;
}
editor-menu-element ol>li {
    /*list-style:none;
    float:left;
    margin:20px 20px;
    padding-right:10px;
    position:relative;
    margin:28px 15px;*/
    
    list-style: none;
    float: left;
    margin-right: 10px;
    position: relative;
    padding: 28px 15px;
}
editor-menu-element ol>li>a{
    color:black;
    text-decoration:none !important;
}
editor-menu-element ol>li > ul {
    /*position:absolute;
    width:150px;
    left:-70px;
    top:20px;
    display:none;
    background-color:#EFB300;
    color:white;
    text-align:right;
    z-index: 1;
    padding-right:20px;*/
    
    position: absolute;
    width: auto;
    min-width: 150px;
    /*left: -70px; */
    top: 20px;
    top: 55px;
    display: none;
    background-color: #EFB300;
    color: white;
    text-align: left;
    z-index: 1;
    padding-right: 20px;
    padding: 0px 20px;
    padding-bottom: 10px;
    white-space: nowrap;
}