<div id="menuDiv">
        	<ul class="mainmenu">
            	<li>
                	<a id="home_mbtn" href="/home" class=""><span>主頁</span></a>
				</li>
				<li>
                	<a id="aboutus_mbtn"  class="" ><span>本堂簡介</span></a>
				</li>
				<li>
                	<a id="notice_mbtn"  class="" ><span>本堂組織</span></a>
				</li>
				<li>
                	<a id="work_mbtn" class="" ><span>小組及團契</span></a>
				</li>
				<li>
                	<a id="resource_mbtn" class="" ><span>崇拜/少崇</span></a>
				</li>
				<li>
                	<a id="life_mbtn" class="" ><span>講座/分享</span></a>
				</li>
				<li>
                	<a id="togod_mbtn" class="" ><span>下載</span></a>
				</li>
				<li>
                	<a id="familylink_mbtn" class=""><span>圖書館</span></a>
				</li>
				<li>
                	<a id="deaEle_mbtn" href="/notice" class=""><span>牧者信息</span></a>
				</li>
			</ul>
		</div>