
    <nav id="top-menu-nav">
							<ul id="top-menu" class="nav">


							
<li ng-repeat="item in model.menu" id="menu-item-394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-394"><a ng-href="{{item.link}}">{{item.title}}</a>

<ul ng-if="item.list.length>0" class="sub-menu">
	<li ng-repeat="subitem in item.list" id="menu-item-395" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-395"><a ng-href="{{subitem.link}}">{{subitem.title}}</a></li>
</ul>
</li>

</ul>							</nav>