   <style>

    md-content {
        min-height:400px;
    }
</style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Html編緝器</h2>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="save()">
                <md-tooltip>儲存</md-tooltip>
                <i class="fa fa-floppy-o"></i>
            </md-button>
            <md-button class="md-primary md-raised" ng-click="cancel()">
                <md-tooltip>取消</md-tooltip>
                <i class="fa fa-window-close"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" ng-init="init()">
 <md-content class="md-padding" style="min-height:800px;">
     
     
    <dz-text id="editor" class="editor">
            
        
    </dz-text>
    </md-content>
        </div>


    </md-dialog-content>