            <md-toolbar class="md-accent dazzle">
                    <div class="md-toolbar-tools-dazzle">
                        <i class="fa fa-x fa-arrows" aria-hidden="true" ng-click="up()"></i>
                        <i class="fa fa-x fa-cog" aria-hidden="true"></i>
                        <i class="fa fa-x fa-bank" aria-hidden="true" ng-click="addElement()"></i>
                        <i class="fa fa-x fa-database" aria-hidden="true" ng-click="dbsettings()"></i>                            
                        <i class="fa fa-x fa-info" aria-hidden="true"></i>                            
                        <i class="fa fa-close right" ng-click="remove()"></i>
                    </div>
                  </md-toolbar>
                  <div class="dazzle-content"></div>
