<div class="views-row views-row-1 views-row-odd views-row-first" ng-repeat="item in model.data">
                                                                        <div class="views-field views-field-created"> <span class="field-content">{{item['日期'] | date }}</span> </div>
                                                                        <div class="views-field views-field-title"> <span class="field-content"><a ng-href="{{item['標題']}}.html">{{item['標題']}}</a></span> </div>
                                                                        <div class="views-field views-field-view-node"> <span class="field-content"><a ng-href="{{item['標題']}}.html">&gt;全文</a></span> </div>
                                                                        <div class="views-field views-field-nothing"> <span class="field-content"><div class="grid_s"> </div>
</span> </div>
                                                                    </div>