<div class="col-sm-3 col-xs-6" ng-repeat="item in model.data | limitTo: 4">
                                <div class="team-single-wrapper">
                                    <div class="team-single">
                                        <div class="person-thumb">
                                            <img ng-src="{{item['照片']}}" class="img-responsive ng-scope" alt="">
                                        </div>

                                    </div>
                                    <div class="person-info">


                                        <h2>
                                            <a ng-href="{{item['名稱']}}.html"><p class="ng-scope">
{{item['名稱']}}                                            </p></a>
                                        </h2>

                                    </div>
                                </div>
                            </div>