<a ng-repeat="item in model.data" ng-href="{{item['名稱']}}.html" style="display: inline-block; " class="col-xs-12 col-ms-6 col-sm-6 col-md-4 col-lg-3">
                                <div style="box-shadow: 1px 1px 2px #bdbdbd;">
                                      <div class="cc-tutor-photo">
<img data-rheight="287" data-rwidth="262" data-umid="1257" ng-src="{{item['照片']}}">
                                </div>
                                <div class="cc-tutor-name">
{{item['名稱']}}
                                </div>
                                      </div>
                            </a>