  
  <div class="gallery">
								<div class="row">
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big1.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img1.jpg" alt="">
											<div class="gal_caption">People</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big2.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img2.jpg" alt="">
											<div class="gal_caption">Fashion</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big3.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img3.jpg" alt="">
											<div class="gal_caption">Wedding</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big4.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img4.jpg" alt="">
											<div class="gal_caption">Interior</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big5.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img5.jpg" alt="">
											<div class="gal_caption">Animals</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
									<div class="grid_4">
										<a href="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/big6.jpg" class="gal_item">
											<img src="http://templates.websitetemplatesonline.com/HTML-5-Photography-Theme/images/page1_img6.jpg" alt="">
											<div class="gal_caption">Nature</div>
											<span class="gal_magnify"></span>
										</a>
									</div>
								</div>
							</div>