      
<div id="newpost" style="display:none;" class="container answer_list templatemo_gallerytop">
      <div class="row templatemorow">
      <div ng-repeat="item in model.data" class="{{item.class1}}">
      <div>
          <div class="hexagon hexagon2 gallery-item">
            <div class="hexagon-in1">
              <div class="hexagon-in2" style="background-image: url({{item.image}});">
                <div class="overlay">
            <a ng-href="{{item.image}}" data-rel="lightbox" class="fa fa-expand"></a>
             </div>
            </div>
          </div>
        </div>
                     </div>
            </div>
          </div>
        </div>
  

    