 <div class="row">
            <div ng-repeat="item in model.data" class="col-1-3">
							<div class="wrap-col">
								<div class="portfolio-box">
									<img ng-src="{{item.photo1}}" class="img-responsive" alt="">
									<div class="portfolio-box-caption">
										<div class="portfolio-box-caption-content">
											<div class="project-category text-faded">
													<a href="#">{{item.text1}}</a>
											</div>
											<div class="project-name">
													<a href="single.html">{{item.text2}}</a>
											</div>
										</div>
									</div>
								</div>
								<div class="portfolio-box">
									<img ng-src="{{item.photo2}}" class="img-responsive" alt="">
									<div class="portfolio-box-caption">
										<div class="portfolio-box-caption-content">
											<div class="project-category text-faded">
													<a href="#">{{item.text3}}</a>
											</div>
											<div class="project-name">
											        <a href="single.html">{{item.text4}}</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
