<div>SocialPlatform</div>
<ul class="social-buttons navbar-nav">
              <li ng-repeat="item in model.data">
                <a href="{{item.link}}" target="_blank" title="{{item.title}}" class="{{item.class}}">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Слой_1" data-name="Слой 1" viewBox="0 0 18.88 35.88" class="svg replaced-svg"><defs><style>.cls-1{fill:#fff}</style></defs><title>fb</title><path class="cls-1" d="{{item.d}}" transform="translate(106.2 -79.71)"></path></svg>
                </a>
              </li>  
            </ul>