
<!--<div ng-repeat="item in model.data">
    
    <md-card class="grid-card _md"  tabindex="0">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar img-loaded" src="http://d27btag9kamoke.cloudfront.net/cdn6.0/images/fileIcon.png" style="border-radius: 0px;">
        </md-card-avatar>
        <md-card-header-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
            <span class="md-title ng-binding" ><a ng-href="{{item['表格檔案']}}">{{item['表格名稱']}}</a></span>
        </md-card-header-text>
    </md-card-header>
</md-card>
</div>-->


<div>
<h3>(A) 申請須知</h3>                    
<div class="ng-scope">
    
    <md-card class="grid-card _md" tabindex="0">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar img-loaded" src="http://d27btag9kamoke.cloudfront.net/cdn6.0/images/fileIcon.png" style="border-radius: 0px;">
        </md-card-avatar>
        <md-card-header-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
            <span class="md-title"><a class="ng-binding" href="http://www.yesican.org.hk/files/申請須知(中文).pdf">申請須知 (中文).doc</a></span>
        </md-card-header-text>
    </md-card-header>
</md-card>
</div>
<div class="ng-scope">
    
    <md-card class="grid-card _md" tabindex="0">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar img-loaded" src="http://d27btag9kamoke.cloudfront.net/cdn6.0/images/fileIcon.png" style="border-radius: 0px;">
        </md-card-avatar>
        <md-card-header-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
            <span class="md-title"><a class="ng-binding" href="http://www.yesican.org.hk/files/申請須知(英文).pdf">申請須知 (英文).doc</a></span>
        </md-card-header-text>
    </md-card-header>
</md-card>
</div>
<h3>(B) 申請表格</h3>  
<div class="ng-scope">
    
    <md-card class="grid-card _md" tabindex="0">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar img-loaded" src="http://d27btag9kamoke.cloudfront.net/cdn6.0/images/fileIcon.png" style="border-radius: 0px;">
        </md-card-avatar>
        <md-card-header-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
            <span class="md-title"><a class="ng-binding" href="http://www.yesican.org.hk/files/申請表格(中文).pdf">申請表格(中文).doc</a></span>
        </md-card-header-text>
    </md-card-header>
</md-card>
</div>
<div class="ng-scope">
    
    <md-card class="grid-card _md" tabindex="0">
    <md-card-header>
        <md-card-avatar>
            <img class="md-user-avatar img-loaded" src="http://d27btag9kamoke.cloudfront.net/cdn6.0/images/fileIcon.png" style="border-radius: 0px;">
        </md-card-avatar>
        <md-card-header-text layout="row" layout-align="space-between center" class="layout-align-space-between-center layout-row">
            <span class="md-title"><a class="ng-binding" href="http://www.yesican.org.hk/files/申請表格(英文).pdf">申請表格(英文).doc</a></span>
        </md-card-header-text>
    </md-card-header>
</md-card>
</div>

</div>