<div id="gallery-masonry" style="position: relative; height: 1193.19px;" >
            <div ng-repeat="item in model.data" class="gallery-item-pro gallery-column-3 opacity-pro" style="position: absolute; left: 0px; top: 0px;">
                <article>
                    <a class="gallery-container-pro" href="single-gallery-post.html">
                    <div class="zoom-image-container-pro"><img style="z-index:-10000;" alt="160252896_640" class="attachment-progression-gallery-index wp-post-image" height="{{item.height}}" src="{{item.img}}" width="{{item.width}}"></div>
                    <div class="gallery-index-text">
                        <ul>
                            <li>{{item.title}}<span>,</span></li>
                        </ul>
                        <div class="gallery-title-index">
                            {{item.description}}
                        </div>
                    </div></a>
                </article>
            </div>
           
           
            
            
            
     
 
            <div class="clearfix" style="position: absolute; left: 883px; top: 905px;"></div>
            
               
        </div>