<div class="row" style="margin:15px; margin-top:0px;margin-bottom:30px;background-color:white;" id="_row">
            <div class="c-sidebar__brand" id="_c-sidebar__brand">
        
        <h1 style="width:100%;" id="h1">優勢社區</h1>
            
            
    </div><span class="col-12 c-sidebar__title" style="padding-left:0;" id="_col-12_c-sidebar__title">選擇你喜愛顏色主題</span>
            <div class="col-3 colorset-button" id="color-set-1" style="padding:0" ng-click="changeColor(1)">
                <img src="//designerrrr-output.s3.amazonaws.com/images/jitpo.dazzle.website/large-web/id1561170687997.jpg" style="margin:0;pending:0" alt="" dz-image="" class="" id="img31">
            </div>
            <div class="col-3 colorset-button" id="color-set-2" style="padding:0" ng-click="changeColor(2)">
                <img src="//designerrrr-output.s3.amazonaws.com/images/jitpo.dazzle.website/large-web/id1561170687978.jpg" style="margin:0;pending:0" alt="" dz-image="" class="" id="img33">
            </div>
            <div class="col-3 colorset-button" id="color-set-3" style="padding:0" ng-click="changeColor(3)">
                <img src="//designerrrr-output.s3.amazonaws.com/images/jitpo.dazzle.website/large-web/id1561170687949.jpg" style="margin:0;pending:0" alt="" dz-image="" class="" id="img35">
            </div>
            <div class="col-3 colorset-button" id="color-set-4" style="padding:0" ng-click="changeColor(4)">
                <img src="//designerrrr-output.s3.amazonaws.com/images/jitpo.dazzle.website/large-web/id1561170688001.jpg" style="margin:0;pending:0" alt="" dz-image="" class="" id="img37">
            </div>
        </div>
        
        <span class="c-sidebar__title" id="_c-sidebar__title">網頁地圖</span>
        <div id="menu">
          <h3 ng-click="go('index.html')">主頁</a></h3>
          <div style="display:none"></div>
          <h3>認識優勢模式</h3>
          <div>
            <ul>
            <li><a href="認識優勢模式.html#1">優勢評估表</a></li>
            <li><a href="認識優勢模式.html#2">復元目標</a></li>
            <li><a href="認識優勢模式.html#3">個人良藥</a></li>
            <li><a href="認識優勢模式.html#4">天然資源</a></li>
            </ul>
          </div>
          <h3 ng-click="go('相關文章.html')">相關文章</h3>
          <div>
          </div>
          <h3>優勢眾籌</h3>
          <div>
           <ul>
                <li><a href="個人良藥眾籌.html">個人良藥眾籌</a></li>
                <li><a href="天然資源眾籌.html">天然資源眾籌</a></li>
            </ul>
          </div>
          <h3 ng-click="go('勵志語錄.html')">勵志語錄</h3>
          <div>
          </div>
          <h3  ng-click="go('優勢套裝下載.html')">優勢套裝下載</h3>
          <div>
          </div>
          <h3 ng-click="go('有用連結.html')">有用連結</h3>
          <div>
          </div>
          <h3 ng-click="go('中心簡介.html')">中心簡介</h3>
          <div>
          </div>
          <h3 ng-click="go('聯絡我們.html')">聯絡我們</h3>
          <div>
          </div>
        </div>
        <!-- <ul class="c-sidebar__list ng-scope" id="_c-sidebar__list">
            <li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">
                    主頁
                </a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">認識優勢模式&nbsp;&nbsp;</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">相關文章</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">優勢眾籌</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">勵志語錄</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">優勢套裝下載</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">有用連結</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">中心簡介</a>
                
            </li><li class="c-sidebar__item has-submenu" id="public-menu">
                <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu-public" aria-controls="sidebar-submenu-public" id="sidebar-submenu-public-toggle" aria-expanded="false">聯絡我們</a>
                
            </li>
            
        </ul>
        -->