<div class="course-panel">
    <button>新增課程</button>
</div>

<div class="course-item" ng-repeat="item in model.data" context-menu="menuOptions" item-row = "{{$index}}">
        <div layout="row" class="course-list layout-row">
            <div layout="column" flex="25" class="layout-column flex-25">
                <a class="ng-scope" ng-href="{{item['名稱']}}.html">
                    <img id="img-ele1510302361082-79" class="img-responsive" style="max-width:100%;max-height: 100%;" 
                        ng-src="{{item['首圖']}}"> 
                </a>
            </div>
            <div layout="column" flex="75" class="layout-column flex-75">
                <div class="title">
                    {{item['名稱']}}
                </div>
                <div ng-bind-html="item['描述']">
                    
                </div>
                
                    <div class="dazzle-button">
                        <img ng-click="edit($index)" src="//www.hot-yeah.com/image/svg/Add-01.svg" style="width:30px; height:30px; margin:5px;">    
                                <img ng-click="remove($index)" src="//www.hot-yeah.com/image/svg/Minus-01.svg" style="width:30px; height:30px; margin:5px;">        
                                
                    </div>
            </div>
        </div>    
    
</div>

