<table class="table table-bordered">
                                                    <tbody><tr>
                                                        <th>日期</th>
                                                        <th>課程</th>
                                                    </tr>
                                                        <tr ng-repeat="item in model.data">
                                                            <td>{{item['課程日期']}}
                                                            </td>
                                                            <td><a ng-href="{{item['課程名稱']}}.html">
                                                                {{item['課程名稱']}}
                                                            </a></td>
                                                            
                                                        </tr>
                                                </tbody></table>