<div class="leftSideWrapper">

    <div id="SchoolIntro">
        學校簡介
    </div>
    <div class="SchoolLogo">

                <a class="ng-scope"><img id="img-ele1508209428996-50" class="img-responsive" style="max-width:100%;max-height: 100%;" src="http://www.hot-yeah.com/image/螢幕快照 2017-09-28 上午10.52.06.png"> </a>
    </div>
    <div id="SchoolName">
        <db-block class="ng-scope ng-binding" id="ele1509426549294-63" custom="dbBlock" draggable="true" contenteditable="true">
            <div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope">國雄學院</div>
        </db-block>
    </div>
    <div class="searchWrapper">
        <div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red Place Icon.svg">地址</div>
        <db-block class="ng-scope ng-binding" id="ele1509407284162-60" custom="dbBlock" draggable="true" contenteditable="true">
            <div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope">觀塘興業街4號The Wave10樓1025室</div>
        </db-block>
        <div class="marginLine marginSpace20"></div>
        <div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red Phone Icon.svg">電話號碼</div>
        <div class="filterWrapper">
            <db-block class="ng-scope ng-binding" id="ele1509426400212-61" custom="dbBlock" draggable="true" contenteditable="true">
                <div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope">(852) 91297053</div>
            </db-block>
        </div>
        <div class="marginLine marginSpace20"></div>
        <div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red Mail Icon.svg">電郵地址</div>
        <div class="filterWrapper">
            <db-block class="ng-scope ng-binding" id="ele1509426400213-62" custom="dbBlock" draggable="true" contenteditable="true">
                <div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope">henry@01power.net</div>
            </db-block>
        </div>
        <div class="marginLine marginSpace20"></div>


        <div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red Clock Icon.svg">營業時間</div>
        <div class="filterWrapper ng-scope medium-editor-element" text="" data-placeholder="Type your text. 輸入文字" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="1" medium-editor-index="4ae644af-3201-6e44-a81c-ac9efdaae915">
            <p class="ng-scope">
                今日營業 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;11:00 - 20:00
                <br>星期二至星期四 &nbsp; &nbsp; 12:00 - 20:00
                <br>星期五至星期日 &nbsp; &nbsp; 11:00 - 20:00
                <br>公眾假期 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;12:00 - 20:00</p>
        </div>
        <div class="marginLine marginSpace20"></div>
        <div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red Payment Icon.svg">付款方式</div>
        <div class="filterWrapper ng-scope medium-editor-element" text="" data-placeholder="Type your text. 輸入文字" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="2" medium-editor-index="ac66ceff-80d2-89fa-36e4-5072a63db9ad">
            <p class="ng-scope">
                Visa Master AE 現金 銀聯</p>
            <div class="apply ng-scope">
                立即報名
            </div>

        </div>


    </div>
    <div class="fb_slide">
        <editor-image-element class="ng-scope" id="ele1506482336966-32" custom="editorImageElement" draggable="true">
            <div bind-html-compile="model.html" context-menu="menuOptions" class="ng-scope">





                <img id="img-ele1506482336966-32" class="img-responsive ng-scope" style="max-width:100%;max-height: 100%;" src="http://www.hot-yeah.com/image/螢幕快照 2017-09-27 上午11.18.08.png">

            </div>
        </editor-image-element>
    </div>
</div>