<div id="dzButton">
   <md-fab-speed-dial md-direction="demo.direction" md-open="demo.isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
  
    
     <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <i class="fa fa-2x" ng-class="getTriggerIcon()" aria-hidden="true"></i>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <label style="background:white; line-height:60px;">{{tagName}}</label>
        <div ng-repeat="item in funcs">
          <md-button aria-label="{{item}}" class="md-fab md-primary" ng-click="callFunction(item)">
            <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              {{item}}
            </md-tooltip>
            <i class="fa fa-2x" ng-class="getIcon(item)" aria-hidden="true"></i>
          </md-button>
        </div>


    </md-fab-actions>

</div>