<style>
.dazzle-schema md-input-container {
    margin: 5px 0;
}
</style>    
    
    <form name="myForm" ng-cloak ng-init="init()">
     <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>表單設定</h2>
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="addItem(-1)">
                <md-tooltip>新增</md-tooltip>
                <i class="fa fa-plus"></i>
            </md-button>
            <md-button class="md-primary md-raised" ng-click="save()">
                <md-tooltip>儲存</md-tooltip>
                <i class="fa fa-floppy-o"></i>
            </md-button>
            <md-button class="md-primary md-raised" ng-click="close()">
                <md-tooltip>取消</md-tooltip>
                <i class="fa fa-window-close"></i>
            </md-button>
        </div>
    </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="min-height: 400px;">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="表單格式設定">
                        <md-content class="md-padding">
                            <div layout="row">
                                <md-input-container flex="33">
                                    
                                      <label>表單ID </label>
                                      <input ng-model="model.formid" disabled>
                                </md-input-container>
                                <md-input-container flex="33">
                                    
                                      <label>表單名稱 </label>
                                      <input name="label" ng-model="model.name" placeholder="請輸入名稱" required>
                                      
                                       <div ng-messages="myForm.label.$error" ng-show="myForm.label.$dirty">
                                          <div ng-message="required">必須填寫!</div>
                                        </div>
                                </md-input-container>
                                <md-input-container flex="33">
                                    
                                      <label>接收電郵 </label>
                                      <input name="label" ng-model="model.email" placeholder="請輸入電郵" required>
                                      
                                       <div ng-messages="myForm.label.$error" ng-show="myForm.label.$dirty">
                                          <div ng-message="required">必須填寫!</div>
                                        </div>
                                </md-input-container>

                            </div>

                            
                            <div layout="row" ng-repeat="sm in model.schema  track by $index" class="dazzle-schema">
                                <md-input-container flex="50">
                                      <input name="title-{{$index}}" ng-model="sm.headerName" placeholder="請輸入名稱" required>
                                       <div ng-messages="myForm['title-'+$index].$error" ng-show="myForm['title-'+$index].$dirty">
                                          <div ng-message="required">必須填寫!</div>
                                        </div>
                                </md-input-container>
                                <md-input-container flex="30">
                                    <md-select name="direct-{{$index}}" ng-model="sm.directiveName" required placeholder="" >
                                        <md-option><em>None</em></md-option>
                                        <md-option ng-repeat="i in schemas  track by $index" ng-value="i.directiveName" >
                                          {{i.directiveName}}
                                        </md-option>
                                      </md-select>
                                         <div ng-messages="myForm['direct-'+$index].$error" ng-show="myForm['direct-'+$index].$dirty">
                                          <div ng-message="required">必須選擇!</div>
                                        </div>

                                </md-input-container>
                                
                                <md-input-container flex="20">
                                      <md-button class="md-icon-button" ng-click="addItem($index)" aria-label="Add Item">
                                        <i class="fa fa-plus"></i>
                                      </md-button>
                                      <md-button class="md-icon-button" aria-label="Minus Item" ng-click="removeItem($index)">
                                        <i class="fa fa-minus"></i>
                                      </md-button>
                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="表單接收方式">
                        <md-content class="md-padding">
                            <div layout="row">
                                <md-input-container flex="50">
                                    
                                </md-input-container>
                                <md-input-container flex="50">

                                </md-input-container>
                            </div>
                        </md-content>
                    </md-tab>

                </md-tabs>
            </div>
        </md-dialog-content>



    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">項目設定</h1>
          </md-toolbar>
          <md-content layout-padding>
                <div layout="row">
                    <div layout="column">
                        <div layout="row" ng-repeat="value in currentDirective.cellEditorParams.values track by $index">
                            <input type="text" aria-label="option" placeholder="{{value}}"
                                   ng-model="currentDirective.cellEditorParams.values[$index]" style="margin-top: 10px;">
                            <md-button class="md-fab md-mini" aria-label="removeOption"
                                       ng-click="currentDirective.cellEditorParams.values.splice($index,1)">-
                                <md-tooltip md-direction="right">移除選項</md-tooltip>
                            </md-button>
                        </div>
                    </div>
                    <md-button class="md-fab md-mini" aria-label="addOption"
                               ng-click="currentDirective.cellEditorParams.values.unshift('新選項')">+
                        <md-tooltip md-direction="right">加選項</md-tooltip>
                    </md-button>
                    <div flex></div>
                </div>


<md-button ng-click="closeSidebar()" class="md-primary">
              關閉
            </md-button>
          </md-content>

    </md-sidenav>

    </form>