    <div id="menu_wrapper">
        <ul id="menu">
            <a href="../about-us.html"><li class="item">About Us</li></a>
            <a href="../news.html"><li class="item">News</li></a>
            <a href="../courses.html"><li class="item">Courses</li></a>
            <a href="../events.html"><li class="item">Events</li></a>
            <a href="../student2-zone.html" id="zone"><li class="item" style="display: none;">Trainees Zone</li></a>
            <a href="../training-resources.html"><li class="item">Training Resources</li></a>
            <a href="../contact-us.html"><li class="item">Contact Us</li></a>
        </ul>
    </div>
