<div>
    <div id="maincontent03">
          <div class="breadcrumb">
            <a href="/">首頁</a> › {{data.title}}
          </div>
          <h2 class="maintitle">{{data.title}}</h2>
        
        
        <div class="clear-block">
            <div class="btn_home"><a href="/" class="purple">返回主頁</a></div>
            <div class="btn_forward"><a href="#" class="purple">轉寄</a></div>
            <div class="btn_print"><a href="#" class="purple">列印</a></div>
            <div id="node-942" class="node sticky">
                <div class="content clear-block">
                  <p ng-bind-html="toHTML(data.HTML)"></p>           
                </div>
                <div class="clear-block">
                    <div class="links">
                        <ul class="links inline">
                            <li class="comment_add first"><a href="/comment/reply/942#comment-form" title="針對本文章分享您的的想法和觀點。">添加新評論</a></li>
                            <li class="addthis last"><span><a href="/" class="addthis_button" addthis:url="http://www.hkswgu.org.hk/node/942" addthis:title="【2016社總之友轉為社總會員安排】"><img width="125" height="16" border="0" alt="Share" src="//s7.addthis.com/static/btn/v2/lg-share-zh.gif"></a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>