<div data-ng-repeat="item in model.news|orderBy:'-publishDate'" ng-if="item['分類']=='職業安全'" class="views-row views-row-{{$index+1}}" ng-class="{'views-row-odd': ($index+1)%2!=0,'views-row-even': ($index+1)%2==0,'views-row-first':$index==0,'views-row-last':$index==model.news.length}">
      
  <div class="views-field views-field-nothing">        <span class="field-content"><div id="news_01" class="news_sec">
<div class="news_text">
<div class="news_title"><a href="http://lac.dazzle.website/newsPage.html?title={{item['標題']}}">{{item['標題']}}</a></div>
<div class="news_details">
{{item['簡介']}}
</div>

<div class="share">分享</div>
     <div class="fb-like" data-href="http://lac.dazzle.website/{{item['標題']}}.html" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
</div>
     <div class="news_photo01"><img ng-if="item['圖片']" src="{{item['圖片']}}" width="172" height="118" alt=""> </div>
<div class="clear"></div>
</div></span>  </div>  </div>