<form action="/node/61" accept-charset="UTF-8" method="post" id="webform-client-form-61" class="webform-client-form ng-pristine ng-valid" enctype="multipart/form-data">
<div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-coursecode"><div class="form-item" id="edit-submitted-courseenrolment-coursecode-wrapper">
 <label for="edit-submitted-courseenrolment-coursecode">課程/ 講座編號：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_coursecode]" id="edit-submitted-courseenrolment-coursecode" size="60" value="" class="form-text required" myangular-model="formdata['課程編號']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-coursetitle"><div class="form-item" id="edit-submitted-courseenrolment-coursetitle-wrapper">
 <label for="edit-submitted-courseenrolment-coursetitle">課程 / 講座名稱：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_coursetitle]" id="edit-submitted-courseenrolment-coursetitle" size="60" value="" class="form-text required" myangular-model="formdata['課程名稱']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-Ref"><div class="form-item" id="edit-submitted-Ref-wrapper">
 <label for="edit-submitted-Ref">備註：</label>
 <input type="text" maxlength="128" name="submitted[Ref]" id="edit-submitted-Ref" size="60" value="" class="form-text" myangular-model="formdata['備註']">
 <div class="description"><p>如是系列課程，請列明報讀之課堂(A、B、C、D、E或全部)</p>
</div>
</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-markup2"><div class="subtitle">
	個人資料</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-chiname"><div class="form-item" id="edit-submitted-courseenrolment-chiname-wrapper">
 <label for="edit-submitted-courseenrolment-chiname">姓名(中文)：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_chiname]" id="edit-submitted-courseenrolment-chiname" size="60" value="" class="form-text required" myangular-model="formdata['中文姓名']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-engname"><div class="form-item" id="edit-submitted-courseenrolment-engname-wrapper">
 <label for="edit-submitted-courseenrolment-engname">姓名(英文)：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_engname]" id="edit-submitted-courseenrolment-engname" size="60" value="" class="form-text required" myangular-model="formdata['英文姓名']">
</div>
</div><div class="webform-component webform-component-radios webform-container-inline" id="webform-component-courseenrolment-sex"><div class="form-item">
 <label>性別：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <select myangular-model="formdata['性別']" ng-required="f.required" class="form-control" id="性別_1">
                    <option value="">--請選擇--</option>
                    <!-- ngRepeat: optionItem in f.cellEditorParams.values track by $index --><option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="男" class="ng-binding ng-scope">男</option><!-- end ngRepeat: optionItem in f.cellEditorParams.values track by $index --><option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="女" class="ng-binding ng-scope">女</option><!-- end ngRepeat: optionItem in f.cellEditorParams.values track by $index -->
                </select>

</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-telmobile"><div class="form-item" id="edit-submitted-courseenrolment-telmobile-wrapper">
 <label for="edit-submitted-courseenrolment-telmobile">聯絡電話(手提)：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_telmobile]" id="edit-submitted-courseenrolment-telmobile" size="60" value="" class="form-text required" myangular-model="formdata['手提']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-telday"><div class="form-item" id="edit-submitted-courseenrolment-telday-wrapper">
 <label for="edit-submitted-courseenrolment-telday">聯絡電話(日間)：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_telday]" id="edit-submitted-courseenrolment-telday" size="60" value="" class="form-text" myangular-model="formdata['電話']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-fax"><div class="form-item" id="edit-submitted-courseenrolment-fax-wrapper">
 <label for="edit-submitted-courseenrolment-fax">傳真：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_fax]" id="edit-submitted-courseenrolment-fax" size="60" value="" class="form-text" myangular-model="formdata['傳真']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-email"><div class="form-item" id="edit-submitted-courseenrolment-email-wrapper">
 <label for="edit-submitted-courseenrolment-email">電郵：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_email]" id="edit-submitted-courseenrolment-email" size="60" value="" class="form-text required" myangular-model="formdata['電郵']">
 <div class="description"><p>請正楷填寫清楚，以便收到上課通知</p>
</div>
</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-markup1"><div class="subtitle">
	會員資料</div>
</div><div class="webform-component webform-component-radios webform-container-inline" id="webform-component-courseenrolment-memberoption"><div class="form-item">
 <label>報名身份：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <div class="form-radios"><div class="form-item" id="edit-submitted-courseenrolment-memberoption-1-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-memberoption-1"><input type="radio" id="edit-submitted-courseenrolment-memberoption-1" name="submitted[courseenrolment_memberoption]" value="1" class="form-radio"> 社總會員</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-memberoption-2-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-memberoption-2"><input type="radio" id="edit-submitted-courseenrolment-memberoption-2" name="submitted[courseenrolment_memberoption]" value="2" class="form-radio"> 社總之友</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-memberoption-3-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-memberoption-3"><input type="radio" id="edit-submitted-courseenrolment-memberoption-3" name="submitted[courseenrolment_memberoption]" value="3" class="form-radio"> 現辦理入會</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-memberoption-4-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-memberoption-4"><input type="radio" id="edit-submitted-courseenrolment-memberoption-4" name="submitted[courseenrolment_memberoption]" value="4" class="form-radio"> 職工盟屬會會員</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-memberoption-5-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-memberoption-5"><input type="radio" id="edit-submitted-courseenrolment-memberoption-5" name="submitted[courseenrolment_memberoption]" value="5" class="form-radio"> 非社總會員</label>
</div>
</div>
 <div class="description"><p>可即時入會享用優惠，詳情請參閱會員專區</p>
</div>
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-membershipno"><div class="form-item" id="edit-submitted-courseenrolment-membershipno-wrapper">
 <label for="edit-submitted-courseenrolment-membershipno">社總會員 / 社總之友編號：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_membershipno]" id="edit-submitted-courseenrolment-membershipno" size="60" value="" class="form-text" myangular-model="formdata['會員編號']">
 <div class="description"><p>
	社總會員適用</p>
</div>
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-hkswgufriendcode"><div class="form-item" id="edit-submitted-courseenrolment-hkswgufriendcode-wrapper">
 <label for="edit-submitted-courseenrolment-hkswgufriendcode">社工註冊編號：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_hkswgufriendcode]" id="edit-submitted-courseenrolment-hkswgufriendcode" size="60" value="" class="form-text" myangular-model="formdata['社工編號']">
 <div class="description"><p>
	如欲委托社總代為申報 「社工註冊局社會工作者自願持續專業發展計劃 」之學分，可填寫以上欄目</p>
</div>
</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-markup3"><div class="subtitle">
	現職資料</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-orgname"><div class="form-item" id="edit-submitted-courseenrolment-orgname-wrapper">
 <label for="edit-submitted-courseenrolment-orgname">工作機構名稱：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_orgname]" id="edit-submitted-courseenrolment-orgname" size="60" value="" class="form-text required" myangular-model="formdata['工作機構名稱']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-orgtype"><div class="form-item" id="edit-submitted-courseenrolment-orgtype-wrapper">
 <label for="edit-submitted-courseenrolment-orgtype">服務類別：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_orgtype]" id="edit-submitted-courseenrolment-orgtype" size="60" value="" class="form-text required" myangular-model="formdata['服務類別']">
</div>
</div><div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-position"><div class="select-or-other form-item select-or-other-processed">
<div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-position"><div class="form-item">
 <label>職位：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <div class="form-radios select-or-other-select"><div class="form-item" id="edit-submitted-courseenrolment-position-select-1-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-position-select-1"><input type="radio" id="edit-submitted-courseenrolment-position-select-1" name="submitted[courseenrolment_position][select]" value="1" class="form-radio select-or-other-select"> 社工</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-position-select-2-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-position-select-2"><input type="radio" id="edit-submitted-courseenrolment-position-select-2" name="submitted[courseenrolment_position][select]" value="2" class="form-radio select-or-other-select"> 福利工作員</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-position-select-3-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-position-select-3"><input type="radio" id="edit-submitted-courseenrolment-position-select-3" name="submitted[courseenrolment_position][select]" value="3" class="form-radio select-or-other-select"> 行政</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-position-select-select-or-other-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-position-select-select-or-other"><input type="radio" id="edit-submitted-courseenrolment-position-select-select-or-other" name="submitted[courseenrolment_position][select]" value="select_or_other" class="form-radio select-or-other-select"> 其他 (請於以下欄目註明)</label>
</div>
</div>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-position-other-wrapper" style="display: none;">
 <input type="text" maxlength="128" name="submitted[courseenrolment_position][other]" id="edit-submitted-courseenrolment-position-other" size="60" value="" class="form-text select-or-other-other">
</div>
</div>
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-others"><div class="form-item" id="edit-submitted-courseenrolment-others-wrapper">
 <label for="edit-submitted-courseenrolment-others">請註明：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_others]" id="edit-submitted-courseenrolment-others" size="60" value="" class="form-text" myangular-model="formdata['現職資料註明']">
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-serviceyear"><div class="form-item" id="edit-submitted-courseenrolment-serviceyear-wrapper">
 <label for="edit-submitted-courseenrolment-serviceyear">現職服務類別年資：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_serviceyear]" id="edit-submitted-courseenrolment-serviceyear" size="60" value="" class="form-text required" myangular-model="formdata['服務年資']">
</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-markup4"><p class="subtitle">
	課程報名情況調查</p>
</div><div class="webform-component webform-component-radios webform-container-inline" id="webform-component-courseenrolment-surveycost"><div class="form-item">
 <label>機構資助：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <div class="form-radios"><div class="form-item" id="edit-submitted-courseenrolment-surveycost-1-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveycost-1"><input type="radio" id="edit-submitted-courseenrolment-surveycost-1" name="submitted[courseenrolment_surveycost]" value="1" class="form-radio"> 全費</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveycost-2-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveycost-2"><input type="radio" id="edit-submitted-courseenrolment-surveycost-2" name="submitted[courseenrolment_surveycost]" value="2" class="form-radio"> 部份</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveycost-3-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveycost-3"><input type="radio" id="edit-submitted-courseenrolment-surveycost-3" name="submitted[courseenrolment_surveycost]" value="3" class="form-radio"> 沒有</label>
</div>
</div>
</div>
</div><div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-surveysource"><div class="select-or-other form-item select-or-other-processed">
<div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-surveysource"><div class="form-item">
 <label>如何得知此課程？：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <div class="form-checkboxes select-or-other-select"><div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-1-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-1"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][1]" id="edit-submitted-courseenrolment-surveysource-select-1" value="1" class="form-checkbox select-or-other-select"> 機構傳閱文件 / 電郵</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-2-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-2"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][2]" id="edit-submitted-courseenrolment-surveysource-select-2" value="2" class="form-checkbox select-or-other-select"> 個人收到社總電郵</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-3-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-3"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][3]" id="edit-submitted-courseenrolment-surveysource-select-3" value="3" class="form-checkbox select-or-other-select"> 同工 / 同學介紹</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-4-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-4"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][4]" id="edit-submitted-courseenrolment-surveysource-select-4" value="4" class="form-checkbox select-or-other-select"> 社總網頁</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-5-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-5"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][5]" id="edit-submitted-courseenrolment-surveysource-select-5" value="5" class="form-checkbox select-or-other-select"> 社工註冊局網頁</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-select-select-or-other-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveysource-select-select-or-other"><input type="checkbox" name="submitted[courseenrolment_surveysource][select][select_or_other]" id="edit-submitted-courseenrolment-surveysource-select-select-or-other" value="select_or_other" class="form-checkbox select-or-other-select"> 其他 (請於以下欄目註明)</label>
</div>
</div>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveysource-other-wrapper" style="display: none;">
 <input type="text" maxlength="128" name="submitted[courseenrolment_surveysource][other]" id="edit-submitted-courseenrolment-surveysource-other" size="60" value="" class="form-text select-or-other-other">
</div>
</div>
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-other"><div class="form-item" id="edit-submitted-courseenrolment-other-wrapper">
 <label for="edit-submitted-courseenrolment-other">請註明：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_other]" id="edit-submitted-courseenrolment-other" size="60" value="" class="form-text" myangular-model="formdata['如何得知註明']">
</div>
</div><div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-surveyjoinreason"><div class="select-or-other form-item select-or-other-processed">
<div class="webform-component webform-component-select webform-container-inline" id="webform-component-courseenrolment-surveyjoinreason"><div class="form-item">
 <label>參加原因：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <div class="form-checkboxes select-or-other-select"><div class="form-item" id="edit-submitted-courseenrolment-surveyjoinreason-select-1-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveyjoinreason-select-1"><input type="checkbox" name="submitted[courseenrolment_surveyjoinreason][select][1]" id="edit-submitted-courseenrolment-surveyjoinreason-select-1" value="1" class="form-checkbox select-or-other-select"> 工作應用</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveyjoinreason-select-2-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveyjoinreason-select-2"><input type="checkbox" name="submitted[courseenrolment_surveyjoinreason][select][2]" id="edit-submitted-courseenrolment-surveyjoinreason-select-2" value="2" class="form-checkbox select-or-other-select"> 個人興趣</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveyjoinreason-select-3-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveyjoinreason-select-3"><input type="checkbox" name="submitted[courseenrolment_surveyjoinreason][select][3]" id="edit-submitted-courseenrolment-surveyjoinreason-select-3" value="3" class="form-checkbox select-or-other-select"> 機構推薦 / 指派</label>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveyjoinreason-select-select-or-other-wrapper">
 <label class="option" for="edit-submitted-courseenrolment-surveyjoinreason-select-select-or-other"><input type="checkbox" name="submitted[courseenrolment_surveyjoinreason][select][select_or_other]" id="edit-submitted-courseenrolment-surveyjoinreason-select-select-or-other" value="select_or_other" class="form-checkbox select-or-other-select"> 其他 (請於以下欄目註明)</label>
</div>
</div>
</div>
<div class="form-item" id="edit-submitted-courseenrolment-surveyjoinreason-other-wrapper" style="display: none;">
 <input type="text" maxlength="128" name="submitted[courseenrolment_surveyjoinreason][other]" id="edit-submitted-courseenrolment-surveyjoinreason-other" size="60" value="" class="form-text select-or-other-other">
</div>
</div>
</div>
</div><div class="webform-component webform-component-textfield webform-container-inline" id="webform-component-courseenrolment-other1"><div class="form-item" id="edit-submitted-courseenrolment-other1-wrapper">
 <label for="edit-submitted-courseenrolment-other1">請註明：</label>
 <input type="text" maxlength="128" name="submitted[courseenrolment_other1]" id="edit-submitted-courseenrolment-other1" size="60" value="" class="form-text" myangular-model="formdata['參加原因註明']">
</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-markup5"><div class="subtitle">
	報名須知</div>
</div><div class="webform-component webform-component-markup" id="webform-component-courseenrolment-note2"><ul>
<li>
		學員收到本會上課通知電郵 ，才算確實成功報名。(填報名表時，請用正楷清楚填寫電郵地址)。</li>
<li>
		當本會收到閣下之申請後，將於三天內以電郵送出上課通知，請立即回覆確認。</li>
<li>
		如開課前一星期仍未收到上課通知，請來電社總查詢。</li>
<li>
		<span style="font-size: 13px; background-color: transparent;">&nbsp;課程一經報名，所繳費用不獲發還，亦不能由其他人士代替上課。如課程額滿或取消，報名者可選擇轉報其他合適課程或退還已繳費用。（*本會不會辦理退會手續）。</span></li>
</ul>
<p>
	查詢： 2780 2021 / <a href="mailto:office@hkswgu.org.hk">office@hkswgu.org.hk</a></p>
</div><div class="webform-component webform-component-markup" id="webform-component-course-enrolment-markup6"><div class="subtitle">
	上載</div>
</div><div class="webform-component webform-component-file webform-container-inline" id="webform-component-courseenrolment-upload-slip"><div class="form-item" id="edit-courseenrolment-upload-slip-wrapper">
 <label for="edit-courseenrolment-upload-slip">收據：<span class="form-required" title="此欄位是必需的。">*</span></label>
 <input type="file" name="files[courseenrolment_upload_slip]" class="form-file required" id="edit-courseenrolment-upload-slip" size="60">

 <div class="description"><p>
	請上載銀行收據，只限pdf 、 jpg、png及gif 檔</p>
<p>* 檔案容量不超過800KB<br>
* 檔案名稱只可由英文字母或數字組成</p>
</div>
</div>
<input type="hidden" name="submitted[courseenrolment_upload_slip][_fid]" id="edit-submitted-courseenrolment-upload-slip--fid" value="" autocomplete="off">
<input type="hidden" name="submitted[courseenrolment_upload_slip][_old]" id="edit-submitted-courseenrolment-upload-slip--old" value="" autocomplete="off">
</div><div class="webform-component webform-component-file webform-container-inline" id="webform-component-courseenrolment-upload-cert"><div class="form-item" id="edit-courseenrolment-upload-cert-wrapper">
 <label for="edit-courseenrolment-upload-cert">會員證明：</label>
 <input type="file" name="files[courseenrolment_upload_cert]" class="form-file" id="edit-courseenrolment-upload-cert" size="60">

 <div class="description"><p>
	職工盟屬會會員適用</p>
</div>
</div>
<input type="hidden" name="submitted[courseenrolment_upload_cert][_fid]" id="edit-submitted-courseenrolment-upload-cert--fid" value="" autocomplete="off">
<input type="hidden" name="submitted[courseenrolment_upload_cert][_old]" id="edit-submitted-courseenrolment-upload-cert--old" value="" autocomplete="off">
</div><div class="webform-component webform-component-file webform-container-inline" id="webform-component-privacy-personaldata-file-upload"><div class="form-item" id="edit-privacy-personaldata-file-upload-wrapper">
 <label for="edit-privacy-personaldata-file-upload">收集個人資料聲明：</label>
 <input type="file" name="files[privacy_personaldata_file_upload]" class="form-file" id="edit-privacy-personaldata-file-upload" size="60">

</div>
<input type="hidden" name="submitted[privacy_personaldata_file_upload][_fid]" id="edit-submitted-privacy-personaldata-file-upload--fid" value="" autocomplete="off">
<input type="hidden" name="submitted[privacy_personaldata_file_upload][_old]" id="edit-submitted-privacy-personaldata-file-upload--old" value="" autocomplete="off">
</div><input type="hidden" name="details[sid]" id="edit-details-sid" value="" autocomplete="off">
<input type="hidden" name="details[page_num]" id="edit-details-page-num" value="1" autocomplete="off">
<input type="hidden" name="details[page_count]" id="edit-details-page-count" value="1" autocomplete="off">
<input type="hidden" name="details[finished]" id="edit-details-finished" value="0" autocomplete="off">
<input type="hidden" name="form_build_id" id="form-d0168d2fd734f64992f9ad30a25a86e4" value="form-d0168d2fd734f64992f9ad30a25a86e4" autocomplete="off">
<input type="hidden" name="form_id" id="edit-webform-client-form-61" value="webform_client_form_61" autocomplete="off">
<div id="edit-actions" class="form-actions form-wrapper"><input type="submit" name="op" id="edit-submit" value="提交" class="form-submit">
</div>
</div></form>


<div class="myformWrapper ng-scope">
<div class="row well2">
<form id="mydataform" class="myForm ng-pristine ng-valid" name="myForm" myangular-init="formdata={};hostname='dazzle-user-www.hkswgu.org.hk';formname='mydataform';receiveemail='';websiteKey='website/香港社會工作者總工會/'">
    <!-- ngRepeat: f in model.form --><div class="form-group ng-scope" ng-repeat="f in model.form" style="">
        <div ng-switch="f.directiveName">
            <!-- ngSwitchWhen: 文字 --><div ng-switch-when="文字" class="ng-scope">
                <label for="課程編號" class="ng-binding">課程編號</label> <!-- ngIf: f.required -->
                <input type="text" myangular-model="formdata['課程編號']" ng-required="f.required" class="form-control" id="課程編號" placeholder="">
            </div><!-- end ngSwitchWhen: -->
            <!-- ngSwitchWhen: 數字 -->
            <!-- ngSwitchWhen: 密碼 -->
            <!-- ngSwitchWhen: 多行文字 -->
            <!-- ngSwitchWhen: 勾選 -->
            <!-- ngSwitchWhen: 日期 -->
            <!-- ngSwitchWhen: 電郵 -->
            
            <!-- ngSwitchWhen: 勾選按鈕 -->
            
            <!-- ngSwitchWhen: 單選按鈕 -->
            <!-- ngSwitchWhen: 選擇列表 -->
            <!-- ngSwitchWhen: 多項選擇列表 -->
            <!-- ngSwitchWhen: 連結 -->
            <!-- ngSwitchWhen: 檔案 -->
            <!-- ngSwitchWhen: 圖片 -->
            <div ng-default="">
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div><!-- end ngRepeat: f in model.form --><div class="form-group ng-scope" ng-repeat="f in model.form">
        <div ng-switch="f.directiveName">
            <!-- ngSwitchWhen: 文字 -->
            <!-- ngSwitchWhen: 數字 -->
            <!-- ngSwitchWhen: 密碼 -->
            <!-- ngSwitchWhen: 多行文字 -->
            <!-- ngSwitchWhen: 勾選 -->
            <!-- ngSwitchWhen: 日期 -->
            <!-- ngSwitchWhen: 電郵 -->
            
            <!-- ngSwitchWhen: 勾選按鈕 -->
            
            <!-- ngSwitchWhen: 單選按鈕 -->
            <!-- ngSwitchWhen: 選擇列表 --><div ng-switch-when="選擇列表" class="ng-scope">
                <label for="性別" class="ng-binding">性別</label> <!-- ngIf: f.required -->
                <select myangular-model="formdata['性別']" ng-required="f.required" class="form-control" id="性別_1">
                    <option value="">--請選擇--</option>
                    <!-- ngRepeat: optionItem in f.cellEditorParams.values track by $index --><option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="男" class="ng-binding ng-scope">男</option><!-- end ngRepeat: optionItem in f.cellEditorParams.values track by $index --><option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="女" class="ng-binding ng-scope">女</option><!-- end ngRepeat: optionItem in f.cellEditorParams.values track by $index -->
                </select>
            </div><!-- end ngSwitchWhen: -->
            <!-- ngSwitchWhen: 多項選擇列表 -->
            <!-- ngSwitchWhen: 連結 -->
            <!-- ngSwitchWhen: 檔案 -->
            <!-- ngSwitchWhen: 圖片 -->
            <div ng-default="">
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div><!-- end ngRepeat: f in model.form --><div class="form-group ng-scope" ng-repeat="f in model.form">
        <div ng-switch="f.directiveName">
            <!-- ngSwitchWhen: 文字 -->
            <!-- ngSwitchWhen: 數字 -->
            <!-- ngSwitchWhen: 密碼 -->
            <!-- ngSwitchWhen: 多行文字 -->
            <!-- ngSwitchWhen: 勾選 -->
            <!-- ngSwitchWhen: 日期 -->
            <!-- ngSwitchWhen: 電郵 -->
            
            <!-- ngSwitchWhen: 勾選按鈕 -->
            
            <!-- ngSwitchWhen: 單選按鈕 -->
            <!-- ngSwitchWhen: 選擇列表 -->
            <!-- ngSwitchWhen: 多項選擇列表 -->
            <!-- ngSwitchWhen: 連結 -->
            <!-- ngSwitchWhen: 檔案 -->
            <!-- ngSwitchWhen: 圖片 --><div ng-switch-when="圖片" class="ng-scope">
                <label for="收據" class="ng-binding">收據</label> <!-- ngIf: f.required -->
                <div>
                    <!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
                    <input type="text" myangular-model="formdata['收據']" ng-required="f.required" class="form-control fileinputbox" id="收據" placeholder="">
                    <button type="button" myangular-click="uploadToDomain('收據','收據_2','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
                    <div class="" style="margin-top: 10px;" myangular-show="formdata['收據']">
                        <img class="image-thumbnail" id="img_收據_2" myangular-show="formdata['收據']">
                        <a href="#" target="_blank" id="收據_2"></a>
                    </div>
                </div>
            </div><!-- end ngSwitchWhen: -->
            <div ng-default="">
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div><!-- end ngRepeat: f in model.form --><div class="form-group ng-scope" ng-repeat="f in model.form">
        <div ng-switch="f.directiveName">
            <!-- ngSwitchWhen: 文字 -->
            <!-- ngSwitchWhen: 數字 -->
            <!-- ngSwitchWhen: 密碼 -->
            <!-- ngSwitchWhen: 多行文字 -->
            <!-- ngSwitchWhen: 勾選 -->
            <!-- ngSwitchWhen: 日期 -->
            <!-- ngSwitchWhen: 電郵 -->
            
            <!-- ngSwitchWhen: 勾選按鈕 -->
            
            <!-- ngSwitchWhen: 單選按鈕 -->
            <!-- ngSwitchWhen: 選擇列表 -->
            <!-- ngSwitchWhen: 多項選擇列表 -->
            <!-- ngSwitchWhen: 連結 -->
            <!-- ngSwitchWhen: 檔案 -->
            <!-- ngSwitchWhen: 圖片 --><div ng-switch-when="圖片" class="ng-scope">
                <label for="會員證明" class="ng-binding">會員證明</label> <!-- ngIf: f.required -->
                <div>
                    <!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
                    <input type="text" myangular-model="formdata['會員證明']" ng-required="f.required" class="form-control fileinputbox" id="會員證明" placeholder="">
                    <button type="button" myangular-click="uploadToDomain('會員證明','會員證明_3','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
                    <div class="" style="margin-top: 10px;" myangular-show="formdata['會員證明']">
                        <img class="image-thumbnail" id="img_會員證明_3" myangular-show="formdata['會員證明']">
                        <a href="#" target="_blank" id="會員證明_3"></a>
                    </div>
                </div>
            </div><!-- end ngSwitchWhen: -->
            <div ng-default="">
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div><!-- end ngRepeat: f in model.form --><div class="form-group ng-scope" ng-repeat="f in model.form">
        <div ng-switch="f.directiveName">
            <!-- ngSwitchWhen: 文字 -->
            <!-- ngSwitchWhen: 數字 -->
            <!-- ngSwitchWhen: 密碼 -->
            <!-- ngSwitchWhen: 多行文字 -->
            <!-- ngSwitchWhen: 勾選 -->
            <!-- ngSwitchWhen: 日期 -->
            <!-- ngSwitchWhen: 電郵 -->
            
            <!-- ngSwitchWhen: 勾選按鈕 -->
            
            <!-- ngSwitchWhen: 單選按鈕 -->
            <!-- ngSwitchWhen: 選擇列表 -->
            <!-- ngSwitchWhen: 多項選擇列表 -->
            <!-- ngSwitchWhen: 連結 -->
            <!-- ngSwitchWhen: 檔案 -->
            <!-- ngSwitchWhen: 圖片 --><div ng-switch-when="圖片" class="ng-scope">
                <label for="私隱聲明" class="ng-binding">私隱聲明</label> <!-- ngIf: f.required -->
                <div>
                    <!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
                    <input type="text" myangular-model="formdata['私隱聲明']" ng-required="f.required" class="form-control fileinputbox" id="私隱聲明" placeholder="">
                    <button type="button" myangular-click="uploadToDomain('私隱聲明','私隱聲明_4','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
                    <div class="" style="margin-top: 10px;" myangular-show="formdata['私隱聲明']">
                        <img class="image-thumbnail" id="img_私隱聲明_4" myangular-show="formdata['私隱聲明']">
                        <a href="#" target="_blank" id="私隱聲明_4"></a>
                    </div>
                </div>
            </div><!-- end ngSwitchWhen: -->
            <div ng-default="">
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div><!-- end ngRepeat: f in model.form -->
    <button type="submit" class="btn btn-primary" myangular-click="submitMyForm()">提交</button>
</form>



</div>
</div>

