<style>
  .label-required {
    color:red;
  } 
  legend {
    margin-bottom: 10px;
  }
  img.image-thumbnail {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
  .fileinputbox {
    position: absolute;
    opacity: 0;
    width: 0px;
 }
 .myForm{
 	margin:2em;
 	width:70%;
 }
</style>


<div class="myformWrapper">
<div class="row well2">
<h2 class="formTtitle ng-scope">聯絡我們</h2>
<form id="{{data}}" class="myForm form-horizontal label-left" name="myForm" myangular-init="formdata={};hostname='{{userBucket}}';formname='{{data}}';receiveemail='{{receiveemail}}';websiteKey='{{websiteKey}}'">
    <div id="{{data}}-{{$index}}" class="form-group" ng-repeat="f in model.form">
        <div ng-switch="f.directiveName">
            <div  ng-switch-when="文字">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label>
                <div class="col-sm-10">
                	<input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            	</div>
            </div>
            <div  ng-switch-when="數字">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="col-sm-10">
                	<input type="number" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            	</div>
            </div>
            <div  ng-switch-when="密碼">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="col-sm-10">
                <input type="password" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            	</div>
            </div>
            <div  ng-switch-when="多行文字">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="col-sm-10">
                	<textarea myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}"></textarea>
            	</div>
            </div>
            <div  ng-switch-when="勾選">
                <input type="checkbox" myangular-model="formdata['{{f.headerName}}']" class="form-control" id="{{f.headerName}}">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
            </div>
            <div  ng-switch-when="日期">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <input type="date" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            </div>
            <div  ng-switch-when="電郵">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="col-sm-10">
                	<input type="email" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            	</div>
            </div>
            
            <div  ng-switch-when="勾選按鈕">
                <label class="col-sm-12" for="{{f.headerName}}">
                	<input type="checkbox" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-check-input" id="{{f.headerName}}" placeholder="{{f.default}}">
            	{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label><span class="label-required" ng-if="f.required">(* 必需勾選)</span>
            </div>
            
            <div  ng-switch-when="單選按鈕">
                <label class="col-sm-12">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label></span>
                <div ng-repeat="optionItem in f.cellEditorParams.values track by $index">
                    <label for="{{f.headerName}}" class="form-check-label">
                        <input value="{{optionItem}}" name="{{f.headerName}}" ng-required="f.required" type="radio" myangular-model="formdata['{{f.headerName}}']" class="form-check-input" id="{{f.headerName}}_{{$index}}"> {{optionItem}}
                    </label>
                </div>
            </div>
            <div  ng-switch-when="選擇列表">
                <label class="control-label col-sm-2" for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="col-sm-10"><select myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}_{{$index}}">
                    <option value="">--請選擇--</option>
                    <option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="{{optionItem}}">{{optionItem}}</option>
                </select></div>
            </div>
            <div  ng-switch-when="多項選擇列表">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <select multiple myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}_{{$index}}">
                    <option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="{{optionItem}}">{{optionItem}}</option>
                </select>
            </div>
            <div  ng-switch-when="連結">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            </div>
            <div  ng-switch-when="檔案">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div class="">
                    <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control fileinputbox" id="{{f.headerName}}" placeholder="{{f.default}}">
                    <!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
                    <button type="button" myangular-click="uploadToDomain('{{f.headerName}}','{{f.headerName}}_{{$index}}')" class="btn btn-default">選擇及上載檔案</button>
                    <a href="#" target="_blank" id="{{f.headerName}}_{{$index}}"></a>
                </div>
            </div>
            <div  ng-switch-when="圖片">
                <label for="{{f.headerName}}">{{f.headerName}}<span class="label-required" ng-if="f.required">*</span></label> </span>
                <div>
                    <!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
                    <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control fileinputbox" id="{{f.headerName}}" placeholder="{{f.default}}">
                    <button type="button" myangular-click="uploadToDomain('{{f.headerName}}','{{f.headerName}}_{{$index}}','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
                    <div class="" style="margin-top: 10px;" myangular-show="formdata['{{f.headerName}}']">
                        <img class="image-thumbnail" id="img_{{f.headerName}}_{{$index}}" myangular-show="formdata['{{f.headerName}}']">
                        <a href="#" target="_blank" id="{{f.headerName}}_{{$index}}"></a>
                    </div>
                </div>
            </div>
            <div ng-default>
                <!--
            <label for="{{f.headerName}}">{{f.headerName}}</label> </span>
            <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
            -->
            </div>
        </div>
    </div>
    <div class="row">
    <div class="label-required" style="margin-bottom: 10px;">(* 必需填寫)</div>
    <div class="col-lg-12 col-md-12 col-xs-12" style="text-align: center;">
        <button style="max-width: 300px;margin: 0 auto;" type="submit" class="btn btn-primary submitForm" myangular-click="submitMyForm()">提交</button>
    </div>
    <!--<div class="col-lg-6 col-md-6 col-xs-6">
        <button type="submit" class="btn btn-primary submitPay" myangular-click="submitMyForm()">網上付款</button>
    </div>-->
    </div>
</form>



</div>
</div>