<div class="bigRedTitle"><img class="likeIcon smallIcon" src="http://www.hot-yeah.com.s3.amazonaws.com/image/svg/Red-Introduction.svg">學校課程</div>


<div id="dz-item-group" class="hotworkshoplist" style="min-height:300px" context-menu="menuOptions" ng-init="init()">
                        
                        
    <div class="dz-item ahotworkshop" ng-repeat="item in model.data">
        
            <div class="edit" ng-click="editPage(item['cid'])">
              <i class="fa fa-edit"></i> 
            </div>
            <a href="#" class="link">
                <img dz-image src="http://emax.bid/media/img/no-image-available.png" width="258" height="128" />
                
            </a>
            <div style="position:relative">
            <div style="position:absolute;top:-134px;left:169px">
            <div class="days">
                        <div class="day">尚餘0日</div>
                    </div>
            </div>
            </div>
            <div class="clear"></div>
            <div class="title"><a ng-href="#" class="link">輸入課程名稱</a></div>
            <div class="bylike">
                <div class="by">by <a href="#" class="link">
                    輸入學校名稱
                </a></div>
                <div class="clear"></div>
            </div>
            <div class="desc2" style="height:98px">
                <span>輸入課程介紹</span>
            </div>


            <div class="tagsbox">[標籤]</div>
            <div class="applynow">
                        <a ng-href="#">
                            <img src="http://www.classes.com.hk/images/brand/join.png" border="0"></a>
                    </div>
            <div class="clear"></div>
    </div>        
    
    
    <div class="dz-item ahotworkshop" id="dz-template" style="display:none;">
        
            <div class="edit" ng-click="editPage(item['cid'])">
              <i class="fa fa-edit"></i> 
            </div>
            <a href="#" class="link">
                <img dz-image src="http://emax.bid/media/img/no-image-available.png" width="258" height="128" />
                
            </a>
            <div style="position:relative">
            <div style="position:absolute;top:-134px;left:169px">
            <div class="days">
                        <div class="day">尚餘0日</div>
                    </div>
            </div>
            </div>
            <div class="clear"></div>
            <div class="title"><a ng-href="#" class="link">輸入課程名稱</a></div>
            <div class="bylike">
                <div class="by">by <a href="#" class="link">
                    輸入學校名稱
                </a></div>
                <div class="clear"></div>
            </div>
            <div class="desc2" style="height:98px">
                <span>輸入課程介紹</span>
            </div>


            <div class="tagsbox">[標籤]</div>
            <div class="applynow">
                        <a ng-href="#">
                            <img src="http://www.classes.com.hk/images/brand/join.png" border="0"></a>
                    </div>
            <div class="clear"></div>
    </div>


</div>


