<!--<div context-menu="slideMenuOptions">
<flex-slider slide3="item in model.list track by $index" animation="slide">
	  	<li ng-repeat="item in model.list track by $index"><img ng-src="{{item.link}}"/></li>
</flex-slider>
</div>-->


<div class="image_slider">
            <div class="flexslider" context-menu="slideMenuOptions">
                        <ul class="slides">
                        
                                <li ng-repeat="item in model.list track by $index"><img ng-src="{{item.link}}"/></li>
                            
                            
                        </ul>
            </div>
</div>