
<div id="counter" class="countdownHolder">
   <div class="countDays"><span class="position"><span class="digit static"   style="top: 0px; opacity: 1;">6</span></span><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">0</span></span><span class="boxName"><span class="Days">DAYS</span></span></div>
   <span class="points">:</span><span class="countDiv countDiv0"></span>
   <div class="countHours"><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">2</span></span><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">3</span></span><span class="boxName"><span class="Hours">HRS</span></span></div>
   <span class="points">:</span><span class="countDiv countDiv1"></span>
   <div class="countMinutes"><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">5</span></span><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">9</span></span><span class="boxName"><span class="Minutes">MNTS</span></span></div>
   <span class="points">:</span><span class="countDiv countDiv2"></span>
   <div class="countSeconds"><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">1</span></span><span class="position"><span class="digit static" style="top: 0px; opacity: 1;">9</span></span><span class="boxName"><span class="Seconds">SECS</span></span></div>

</div>
<div ng-repeat="item in model.data" ng-init="vvvvWhyyyy(87)">
</div>