
<div ng-init="loadData()">

<div ng-repeat="item in model.data" class="et_pb_column et_pb_column_1_4  et_pb_column_4" style="margin-right: 59.3906px; font-size: 17px; width: 225.438px;">
    <div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_1" style="font-size: 17px; width: 225.438px;">
        <div class="et_pb_text_inner" style="font-size: 17px;">
            <p style="font-size: 17px;">

                <a ng-href="{{item['PDF']}}" style="font-size: 17px; color: rgb(46, 163, 242);"><img ng-src="{{item['頭像']}}" class="alignnone wp-image-6080" alt="" width="168" height="168" sizes="(max-width: 168px) 100vw, 168px" data-lazy-loaded="true" style="font-size: 17px; display: inline;">
                </a>
            </p
            <p style="font-size: 17px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<a ng-href="{{item['PDF']}}" style="font-size: 17px; color: rgb(46, 163, 242);">{{item['課程']}}</a>
            </p>
            <p style="font-size: 17px;">&nbsp;</p>
        </div>
    </div>
</div>
</div>