<div id="gallery-slideshow-pro" style="z-index:-10000;">
                <div class="fotorama" data-allowfullscreen="true" data-click="false" data-fit="cover" data-hash="true" data-height="100%" data-keyboard="true" data-loop="true" data-nav="thumbs" data-navposition="bottom" data-navwidth="97%" data-shadows="false" data-swipe="true" data-thumbborderwidth="2" data-thumbheight="82" data-thumbmargin="10" data-thumbwidth="130" data-transition="crossfade" data-transitionduration="500" data-width="100%">
                    <a ng-repeat="item in model.data" data-caption="" data-thumb="{{item.img}}" href="{{item.img}}">
                    </a> 
                </div>
                <div class="clearfix"></div>
            </div>