<div class="main-navigation">
			<div class="container">
                    <div class="col-md-3 col-sm-12">
                    	<a href="#"><img src="http://www.templatemo.com/templates/templatemo_400_polygon/images/templatemo_logo.jpg" alt="Polygon HTML5 Template"></a>
                    </div>
					<div class="col-md-9 main_menu">
						<ul>
							<li ng-repeat="item in model.data"><a id="{{item.titleID}}">
                            	<span class="{{item.icon}} menu"></span>
                                  {{item.title}}</a>
                            </li>
						</ul>
					</div> 
				</div> 
			</div> 
		


