				<div ng-repeat="item in model.data" class="col-sm-6 col-xs-6 welcome-w3imgs">
						<figure class="effect-chico">
							<img src="{{item.image1}}" alt=" " />
							<figcaption>
								<h4>{{item.title1}}</h4>
								<p>{{item.content1}}</p>
							</figcaption>			
						</figure>
						<figure class="effect-chico welcome-img2">
							<img src="{{item.image2}}" alt=" " />
							<figcaption>
								<h4>{{item.title2}}</h4>
								<p>{{item.content2}}</p>
							</figcaption>			
						</figure>
				</div>
					
				<div class="clearfix"> </div> 
