<div class="group_banner ng-scope">
        <div class="title"><img src="http://www.hkswgu.org.hk/sites/default/themes/hkswgu/images/title_index_banner.gif" alt="聯盟小組"></div>
        <div id="scroll_links">
          <div id="left"><a href="#" class="mouseover_left">&nbsp;</a></div>
          <div id="banner_container">
          <div id="banner_content">
          <div class="view view-index-group-banner view-id-index_group_banner view-display-id-block_1 view-dom-id-2">
    
  
  
      <div class="view-content">
      <div class="item-list" ng-init="loadData()">
    <ul>
          <li ng-repeat="item in model.data" class="views-row views-row-1 views-row-odd views-row-first">  
  <div class="views-field-field-banner-image-fid">
                <span class="field-content"><a ng-href="{{item['標題']}}.html"><img class="imagefield imagefield-field_banner_image" width="89" height="50" alt="" ng-src="{{item['圖片']}}"></a></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">{{item['標題']}}</span>
  </div>
</li>


      </ul>
</div>    </div>
  
  
  
  
  
  
</div>           </div>
          </div>
          <div id="right"><a href="" class="mouseover_right">&nbsp;</a></div>
          </div>
      </div>