
    <style>
        .galleryCard .md-card-image {
            height: 200px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .galleryCard, md-card md-card-content {
            padding-bottom: 0px !important;
        }

        .galleryCard .md-errors-spacer {
            min-height: 0px !important;
        }

        .galleryCard md-input-container {
            margin-bottom: 0px !important;
        }
    </style>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>全站檔案</h2>
            <span flex></span>
            <md-button class="md-raised" ng-click="upload()">
                上傳
            </md-button>
            <md-button class="md-raised md-primary" ng-click="save()">
                儲存
            </md-button>
            <md-button class="md-raised md-warn" ng-click="cancel()">
                取消
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="min-height:70%;">
        <input id="fileChooser" type="file" style="display: none">
        <div class="row" style="margin:0px;" ui-sortable ng-model="images">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="i in images  track by $index" style="padding: 0px;">
                <md-card class="galleryCard">
                    <div class="md-card-image" style="background-image:url({{i}})"></div>
                    <md-card-content>
                        <md-input-container class="md-block">
                            <label>簡介</label>
                            <input ng-model="i.description" maxlength="20"/>
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="addLink" ng-click="addLink($index)">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="remove" ng-click="remove($index)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-dialog-content>
