<div class="group_banner" ng-init="x=0">
        <div class="title"><img src="http://www.hkswgu.org.hk/sites/default/themes/hkswgu/images/title_index_banner.gif" alt="聯盟小組"></div>
        <div id="scroll_links">
          <div id="left"><a ng-click="x=x+20" ng-if="x<0" href="" class="mouseover_left" >&nbsp;</a></div>
          <div id="banner_container">
          <div id="banner_content" style="position: absolute; left: {{x}}px; top: 0px; visibility: visible;">
          <div class="view view-index-group-banner view-id-index_group_banner view-display-id-block_1 view-dom-id-2">
    
  
  
      <div class="view-content">
      <div class="item-list">
    <ul>
          <li class="views-row views-row-1 views-row-odd views-row-first">  
  <div class="views-field-field-banner-image-fid">
                <span class="field-content"><a href="http://www.hkswgu.org.hk/node/978"><img class="imagefield imagefield-field_banner_image" width="89" height="50" alt="" src="http://www.hkswgu.org.hk/sites/default/files/1474468345_b35a.jpg?1479796956"></a></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">IEAPS關注組</span>
  </div>
</li>
          <li class="views-row views-row-2 views-row-even">  
  <div class="views-field-field-banner-image-fid">
                <span class="field-content"><a href="http://www.hkswgu.org.hk/ifsc"><img class="imagefield imagefield-field_banner_image" width="82" height="50" alt="" src="http://www.hkswgu.org.hk/sites/default/files/%2020110415_0.JPG?1323858706"></a></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">綜合家庭服務關注組</span>
  </div>
</li>
          <li class="views-row views-row-3 views-row-odd">  
  <div class="views-field-field-banner-image-fid">
                <span class="field-content"><a href="http://www.hkswgu.org.hk/node/154"><img class="imagefield imagefield-field_banner_image" width="92" height="50" alt="" src="http://www.hkswgu.org.hk/sites/default/files/dummy_photo02.jpg?1306377240"></a></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">小學輔導服務關注組</span>
  </div>
</li>
          <li class="views-row views-row-4 views-row-even views-row-last">  
  <div class="views-field-field-banner-image-fid">
                <span class="field-content"><a href="http://www.hkswgu.org.hk/node/156"><img class="imagefield imagefield-field_banner_image" width="92" height="50" alt="" src="http://www.hkswgu.org.hk/sites/default/files/dummy_photo01.jpg?1306377199"></a></span>
  </div>
  
  <div class="views-field-title">
                <span class="field-content">精神健康服務關注組</span>
  </div>
</li>
      </ul>
</div>    </div>
  
  
  
  
  
  
</div>           </div><!-- /banner_content -->
          </div><!-- /banner_container -->
          <div id="right"><a ng-click="x=x-20" href="" class="mouseover_right" >&nbsp;</a></div>
          </div><!-- /scroll_links -->
      </div>