<form id="form1" style="margin:2em; width:50%;">
  <div class="form-group" ng-repeat="f in model.form">

    <label for="{{f.id}}">{{f.title}}</label>

    <div ng-switch="f.type">

    	<div ng-switch-when="input">
  			<input type="input" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>

  		<div ng-switch-when="textarea">
  			<textarea ng-model="textarea{{f.id}}" class="form-control" id="{{f.id}}"></textarea>
  		</div>

  		<div ng-switch-when="checkbox">
  			<input type="checkbox" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>

  		<div ng-switch-when="date">
  			<input type="date" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>

  		<div ng-switch-when="datetime-local">
  			<input type="datetime-local" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>

   		<div ng-switch-when="email">
  			<input type="email" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>
  		
   		<div ng-switch-when="month">
  			<input type="month" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>
  		
    	<div ng-switch-when="number">
  			<input type="number" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>		 		 		

  		<div ng-switch-when="radio"> 
  			<input type="radio" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">			
  		</div>

   		<div ng-switch-when="range"> 
  			<input type="range" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">		
  		</div>
  		
    	<div ng-switch-when="time"> 
  			<input type="time" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">			
  		</div>
  		
   		<div ng-switch-when="url"> 
  			<input type="url" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">			
  		</div>
  		
    	<div ng-switch-when="week"> 
  			<input type="week" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">	
  		</div>	

  		<div ng-default>
  			<input type="input" ng-model="input{{f.id}}" class="form-control" id="{{f.id}}">
  		</div>
	</div>
  </div>
  
 <button type="submit" class="btn btn-primary">Submit</button>
</form>