<style>
  .label-required {
    color:red;
  } 
  legend {
    margin-bottom: 10px;
  }
  img.image-thumbnail {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
  }
</style>


<div class="col-sm-8 marginBottom10 borderbox paddingTopBottom10">
<div class="row well">     

<form id="{{data}}" name="myForm" style="margin:2em; width:70%;" hostname="{{userBucket}}" myangular-init="formdata={};hostname='{{userBucket}}'">
  <div class="form-group" ng-repeat="f in model.form">

    <div ng-switch="f.directiveName">

    	<div ng-switch-when="文字">
    		<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>
  		
  		<div ng-switch-when="數字">
    		<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="number" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>
  		
  		<div ng-switch-when="密碼">
    		<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="password" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>

  		<div ng-switch-when="多行文字">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<textarea myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}"></textarea>
  		</div>
   

  		<div ng-switch-when="勾選">
  			<input type="checkbox" myangular-model="formdata['{{f.headerName}}']" class="form-control" id="{{f.headerName}}">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  		</div>

  		<div ng-switch-when="日期">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="date" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>

   		<div ng-switch-when="電郵">
   			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="email" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>		 		

  		<div ng-switch-when="單選按鈕"> 
  			<legend>{{f.headerName}}<span class="label-required" ng-if="f.required">(* 必需填寫)</span></legend>
  			<div ng-repeat="optionItem in f.cellEditorParams.values track by $index">
  				<label for="{{f.headerName}}" class="form-check-label">
  				<input value="{{optionItem}}" name="{{f.headerName}}" ng-required="f.required" type="radio" myangular-model="formdata['{{f.headerName}}']" class="form-check-input" id="{{f.headerName}}_{{$index}}">	
        			{{optionItem}}
      			</label>
      		</div>
      		
  		</div>
		
		<div ng-switch-when="選擇列表"> 
   			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<select myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}_{{$index}}">
      			<option value="">--請選擇--</option>
      			<option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="{{optionItem}}">{{optionItem}}</option>
    		</select>
  		</div>
  		
  		<div ng-switch-when="多項選擇列表"> 
   			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<select multiple myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}_{{$index}}">
      			<option ng-repeat="optionItem in f.cellEditorParams.values track by $index" value="{{optionItem}}">{{optionItem}}</option>
    		</select>
  		</div>
		
      <div ng-switch-when="連結"> 
        <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
        <input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">     
      </div>

      <div ng-switch-when="檔案"> 
        <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
        <div class="">
        	<input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control fileinputbox" id="{{f.headerName}}" placeholder="{{f.default}}">

        	<!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
      		<button type="button" myangular-click="uploadToDomain('{{f.headerName}}','{{f.headerName}}_{{$index}}')" class="btn btn-default">選擇及上載檔案</button>
      		<a href="#" target="_blank" id="{{f.headerName}}_{{$index}}"></a>
      	</div>
      </div>	
      <div ng-switch-when="圖片"> 
        <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
        <div>
        	<!--<input id="{{f.headerName}}_{{$index}}" style="display:-webkit-inline-box;display:inline-block;" type="file" class="form-control-file" ng-required="f.required">-->
      		<button type="button" myangular-click="uploadToDomain('{{f.headerName}}','{{f.headerName}}_{{$index}}','imageOnly')" class="btn btn-default">選擇及上載圖片</button>
      		<div class="" style="margin-top: 10px;" myangular-show="formdata['{{f.headerName}}']">
      			<img class="image-thumbnail" id="img_{{f.headerName}}_{{$index}}" myangular-show="formdata['{{f.headerName}}']">
      			<a href="#" target="_blank" id="{{f.headerName}}_{{$index}}"></a>
      		</div>
      	</div>
      </div>
  		<div ng-default>
  			<!--
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="text" myangular-model="formdata['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  			-->
  		</div>
	 </div>
  </div>
  <button type="submit" class="btn btn-primary" myangular-click="submitMyForm()">提交</button>
</form>


</div>
</div>