<style>
  .label-required {
    color:red;
  } 
  input[type=file] {
    display: -webkit-inline-box;
  }
</style>

<div class="col-sm-8 marginBottom10 borderbox paddingTopBottom10">
<div class="row well">     

<form id="form1" name="myForm" style="margin:2em; width:70%;">
  <div class="form-group" ng-repeat="f in model.form">

    <div ng-switch="f.directiveName">

    	<div ng-switch-when="文字">
    		<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="text" myangular-model="myForm['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>

  		<div ng-switch-when="多行文字">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<textarea myangular-model="myForm['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}"></textarea>
  		</div>
   

  		<div ng-switch-when="勾選">
  			<input type="checkbox" myangular-model="myForm['{{f.headerName}}']" class="form-control" id="{{f.headerName}}">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  		</div>

  		<div ng-switch-when="日期">
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="date" myangular-model="myForm['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>

   		<div ng-switch-when="電郵">
   			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
  			<input type="email" myangular-model="myForm['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">
  		</div>		 		

  		<div ng-switch-when="單選按鈕"> 
  			<input type="radio" myangular-model="myForm['{{f.headerName}}']" class="form-check-input" id="{{f.headerName}}">	
  			<label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>	
  		</div>

      <div ng-switch-when="連結"> 
        <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
        <input type="text" myangular-model="myForm['{{f.headerName}}']" ng-required="f.required" class="form-control" id="{{f.headerName}}" placeholder="{{f.default}}">     
      </div>

      <div ng-switch-when="檔案"> 
        <label for="{{f.headerName}}">{{f.headerName}}</label> <span class="label-required" ng-if="f.required">(* 必需填寫)</span>
        <div class="">
        	<input id="{{f.headerName}}" style="display:-webkit-inline-box;display:inline-block;" type="file" myangular-model="myForm['{{f.headerName}}']" class="form-control-file" ng-required="f.required">     
      		<button type="button" class="btn btn-default">上載</button>
      		<a ng-href="">檔案</a>
      	</div>
      </div>	

  		<div ng-default>
  		</div>
	 </div>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
</div>