            <md-toolbar class="md-accent dazzle">
                    <tb-div class="md-toolbar-tools-dazzle">
                        <dz-i class="fa fa-x fa-arrows-alt" aria-hidden="true" ng-click="hideToggle()"></dz-i>
                        <dz-i class="fa fa-x fa-cog" aria-hidden="true"></dz-i>
                        <dz-i class="fa fa-x fa-bank" aria-hidden="true" ng-click="sourceEdit()"></dz-i>
                        <dz-i class="fa fa-x fa-database" aria-hidden="true" ng-click="templateEdit()"></dz-i>                            
                        <dz-i class="fa fa-x fa-info" aria-hidden="true"></dz-i>         
    <!--                     <dz-i class="fa fa-x fa-image" ng-click="changeBackground()" aria-hidden="true"></dz-i>    -->
                        <dz-i class="fa fa-close" ng-click="remove()"></dz-i>
                    </tb-div>
                  </md-toolbar>
