<div class="row">
<div class="column col-lg-3 hidden-md hidden-xs">
<ul class="nav nav-pills nav-stacked">
    <li ng-repeat="item in model.menu"><a ng-href="#tab{{$index}}" data-toggle="pill">{{item.title}}</a></li>

</ul>
</div>
<div class="column col-lg-9">
    <h1>公司業務</h1>
    <div class="tab-content">
    <div id="tab{{$index}}" ng-repeat="item in model.menu" class="tab-pane fade in" ng-class="$index==0? 'active': '' ">
        <h2>{{item.title}}</h2>
        <hr>
        	<div class="panel" bind-html-compile="item.html">

		    </div>
    </div>

  </div>
</div>

</div>
