<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="i in model.value">
    </ol>
    <div class="carousel-inner">
        <div class="item" ng-class="{active:$first}" ng-repeat="i in model.value">
            <a ng-if="i.link" ng-href="{{i.link}}"><img ng-src="http://{{i.bucket}}/{{i.path}}" class="img-responsive"></a>
            <img ng-if="!i.link" ng-src="http://{{i.bucket}}/{{i.path}}" class="img-responsive">

        </div>
    </div>
    <a class="left carousel-control" href="#carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>