<form ng-init="init()">
    <div class="signup_form">
        <div class="signup-tit">更改用戶資料 - 賣貨者</div>

        <ul class="signup_tab">
            <li><a href="#" class="active tab" rel="part1" ng-click="loadPage('part1')">1 基本資料</a></li>
            <li><a href="#" rel="part2" class="tab" ng-click="loadPage('part2')">2 公司分類</a></li>
            <li><a href="#" rel="part3" class="tab" ng-click="loadPage('part3')">3 分店資料</a></li>
            <li><a href="#" rel="part4" class="tab" ng-click="loadPage('part4')">4 聯絡資料</a></li>
        </ul>
        <div class="clearfix"></div>

        <div class="signup_form_wrapper user_modify">

            <div id="part1" class="part">
                <h3>以下為必填部分</h3>
                <div class="part_content">
                    <input type="hidden" name="form_build_id" value="form-Nk3Soe_owpmrxziy06oEDLAxOo8PKWMvVZp8UlVeYU8" autocomplete="off">
                    <input type="hidden" name="form_id" value="user_profile_form" autocomplete="off">
                    <input type="hidden" name="form_token" value="t2ScXQiv-jhfO1HfbBLRRm_sY8XmKcep6NZCCtobGig" autocomplete="off">
                    
                    
                    <div class="field-type-text field-name-field-address field-widget-text-textfield form-wrapper" id="edit-field-address--2">
                        <div id="field-address-add-more-wrapper--2">
                            <div class="form-item form-type-textfield form-item-field-address-und-0-value">
                                <label for="edit-field-address-und-0-value--2">地址 </label>
                                <input class="text-full form-text" type="text" id="edit-field-address-und-0-value--2" name="field_address[und][0][value]" ng-model="user['address']" size="60" maxlength="255">
                            </div>
                        </div>
                    </div>
                    <div class="field-type-text field-name-field-tel field-widget-text-textfield form-wrapper" id="edit-field-tel--2">
                        <div id="field-tel-add-more-wrapper--2">
                            <div class="form-item form-type-textfield form-item-field-tel-und-0-value">
                                <label for="edit-field-tel-und-0-value--2">公司電話 </label>
                                <input class="text-full form-text" type="text" id="edit-field-tel-und-0-value--2" name="field_tel[und][0][value]" ng-model="user['tel']" size="60" maxlength="255">
                            </div>
                        </div>
                    </div>
                    <div class="field-type-text field-name-field-br-no field-widget-text-textfield form-wrapper" id="edit-field-br-no--2">
                        <div id="field-br-no-add-more-wrapper--2">
                            <div class="form-item form-type-textfield form-item-field-br-no-und-0-value">
                                <label for="edit-field-br-no-und-0-value--2">商業登記號碼 </label>
                                <input class="text-full form-text" type="text" id="edit-field-br-no-und-0-value--2" name="field_br_no[und][0][value]" ng-model="user['br_no']" size="60" maxlength="255">
                            </div>
                        </div>
                    </div>
                    <div class="field-type-list-text field-name-field-join-via field-widget-options-buttons form-wrapper" id="edit-field-join-via--2">
                        <div class="form-item form-type-checkboxes form-item-field-join-via-und">
                            <label for="edit-field-join-via-und--2">入會途徑 <span class="form-required" title="此欄位是必需的。">*</span></label>
                            <div id="edit-field-join-via-und--2" class="form-checkboxes">
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-朋友介紹">
                                    <input type="checkbox" id="edit-field-join-via-und---6" name="field_join_via[und][朋友介紹]" value="朋友介紹" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und---6">朋友介紹 </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-Yahoo!">
                                    <input type="checkbox" id="edit-field-join-via-und-yahoo--2" name="field_join_via[und][Yahoo!]" value="Yahoo!" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und-yahoo--2">Yahoo! </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-Google">
                                    <input type="checkbox" id="edit-field-join-via-und-google--2" name="field_join_via[und][Google]" value="Google" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und-google--2">Google </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-Youtube">
                                    <input type="checkbox" id="edit-field-join-via-und-youtube--2" name="field_join_via[und][Youtube]" value="Youtube" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und-youtube--2">Youtube </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-Facebook">
                                    <input type="checkbox" id="edit-field-join-via-und-facebook--2" name="field_join_via[und][Facebook]" value="Facebook" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und-facebook--2">Facebook </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-車身廣告">
                                    <input type="checkbox" id="edit-field-join-via-und---7" name="field_join_via[und][車身廣告]" value="車身廣告" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und---7">車身廣告 </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-傳單">
                                    <input type="checkbox" id="edit-field-join-via-und---8" name="field_join_via[und][傳單]" value="傳單" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und---8">傳單 </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-海報">
                                    <input type="checkbox" id="edit-field-join-via-und---9" name="field_join_via[und][海報]" value="海報" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und---9">海報 </label>

                                </div>
                                <div class="form-item form-type-checkbox form-item-field-join-via-und-其他">
                                    <input type="checkbox" id="edit-field-join-via-und---10" name="field_join_via[und][其他]" value="其他" checked="checked" class="form-checkbox join-via"> <label class="option" for="edit-field-join-via-und---10">其他 </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-actions">
                        <input type="button" value="下一步" class="form-btn next_btn" rel="part2" ng-click="loadPage('part2')">
                    </div>
                </div>
            </div>
            <!-- part1 -->

            <div id="part2" class="part">
                <div class="part_content">
                    <div class="field-type-text field-name-field-company-years field-widget-text-textfield form-wrapper" id="edit-field-company-years--2">
                        <div id="field-company-years-add-more-wrapper--2">
                            <div class="form-item form-type-textfield form-item-field-company-years-und-0-value">
                                <label for="edit-field-company-years-und-0-value--2">店鋪年資 </label>
                                <input class="text-full form-text" type="text" id="edit-field-company-years-und-0-value--2" name="field_company_years[und][0][value]" ng-model="user['company_years']" size="30" maxlength="255">
                            </div>
                        </div>
                    </div>
                    <md-button ng-click="updateCategory()" class="form-btn">選擇類別</md-button>
                    <div class="field-type-text field-name-field-br-no field-widget-text-textfield form-wrapper" id="edit-field-br-no--2">
                        <label>已選類別</label>
                        <md-button  class="form-btn" ng-repeat="item in user['category']">{{item}}</md-button>                      
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-actions">
                        <input type="button" value="下一步" class="form-btn next_btn" rel="part3" ng-click="loadPage('part3')">
                    </div>
                </div>
            </div>
            <!-- part2 -->

            <div id="part3" class="part">
                <div class="part_content">
                    <div class="user_company">
                        <metal-user-bind-company class="ng-scope">
                           
                        </metal-user-bind-company>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="form-actions">
                    <input type="button" value="下一步" class="form-btn next_btn" rel="part4" ng-click="loadPage('part4')">
                </div>
            </div>
        </div>
        <!-- part3 -->

        <div id="part4" class="part">
            <div class="part_content">
                <div class="field-type-text field-name-field-fax field-widget-text-textfield form-wrapper" id="edit-field-fax--2">
                    <div id="field-fax-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-fax-und-0-value">
                            <label for="edit-field-fax-und-0-value--2">傳真 </label>
                            <input class="text-full form-text" type="text" id="edit-field-fax-und-0-value--2" name="field_fax[und][0][value]" ng-model="user['fax']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-business-hour field-widget-text-textfield form-wrapper" id="edit-field-business-hour--2">
                    <div id="field-business-hour-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-business-hour-und-0-value">
                            <label for="edit-field-business-hour-und-0-value--2">辦公時間 </label>
                            <input class="text-full form-text" type="text" id="edit-field-business-hour-und-0-value--2" name="field_business_hour[und][0][value]" ng-model="user['business_hour']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-company-url field-widget-text-textfield form-wrapper" id="edit-field-company-url--2">
                    <div id="field-company-url-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-company-url-und-0-value">
                            <label for="edit-field-company-url-und-0-value--2">公司網址 </label>
                            <input class="text-full form-text" type="text" id="edit-field-company-url-und-0-value--2" name="field_company_url[und][0][value]" ng-model="user['company_url']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-contact-email field-widget-text-textfield form-wrapper" id="edit-field-contact-email--2">
                    <div id="field-contact-email-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-contact-email-und-0-value">
                            <label for="edit-field-contact-email-und-0-value--2">收Email號碼 </label>
                            <input class="text-full form-text" type="text" id="edit-field-contact-email-und-0-value--2" name="field_contact_email[und][0][value]" ng-model="user['contact_email']" value="" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-facebook-account field-widget-text-textfield form-wrapper" id="edit-field-facebook-account--2">
                    <div id="field-facebook-account-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-facebook-account-und-0-value">
                            <label for="edit-field-facebook-account-und-0-value--2">Facebook帳號 </label>
                            <input class="text-full form-text" type="text" id="edit-field-facebook-account-und-0-value--2" name="field_facebook_account[und][0][value]" ng-model="user['facebook_account']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-qq-account field-widget-text-textfield form-wrapper" id="edit-field-qq-account--2">
                    <div id="field-qq-account-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-qq-account-und-0-value">
                            <label for="edit-field-qq-account-und-0-value--2">QQ帳號 </label>
                            <input class="text-full form-text" type="text" id="edit-field-qq-account-und-0-value--2" name="field_qq_account[und][0][value]" ng-model="user['qq_account']" size="20" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-department field-widget-text-textfield form-wrapper" id="edit-field-department--2">
                    <div id="field-department-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-department-und-0-value">
                            <label for="edit-field-department-und-0-value--2">部門 </label>
                            <input class="text-full form-text" type="text" id="edit-field-department-und-0-value--2" name="field_department[und][0][value]" ng-model="user['department']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-contact-person field-widget-text-textfield form-wrapper" id="edit-field-contact-person--2">
                    <div id="field-contact-person-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-contact-person-und-0-value">
                            <label for="edit-field-contact-person-und-0-value--2">聯絡人 </label>
                            <input class="text-full form-text" type="text" id="edit-field-contact-person-und-0-value--2" name="field_contact_person[und][0][value]" ng-model="user['contact_person']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-text field-name-field-contact-title field-widget-text-textfield form-wrapper" id="edit-field-contact-title--2">
                    <div id="field-contact-title-add-more-wrapper--2">
                        <div class="form-item form-type-textfield form-item-field-contact-title-und-0-value">
                            <label for="edit-field-contact-title-und-0-value--2">聯絡人職銜 </label>
                            <input class="text-full form-text" type="text" id="edit-field-contact-title-und-0-value--2" name="field_contact_title[und][0][value]" ng-model="user['contact_title']" size="60" maxlength="255">
                        </div>
                    </div>
                </div>
                <div class="field-type-list-text field-name-field-payment-method field-widget-options-buttons form-wrapper" id="edit-field-payment-method--2">
                    <div class="form-item form-type-checkboxes form-item-field-payment-method-und">
                        <label for="edit-field-payment-method-und--2">付款方法 </label>
                        <input class="text-full form-text" type="text" id="edit-field-contact-title-und-0-value--2" name="field_contact_title[und][0][value]" ng-model="user['payment_method']" size="60" maxlength="255">

                    </div>
                </div>
                <div class="field-type-file field-name-field-br field-widget-file-generic form-wrapper" id="edit-field-br--2">
                    <div id="edit-field-br-und-0--2-ajax-wrapper">
                        <div class="form-item form-type-managed-file form-item-field-br-und-0">
                            <label for="edit-field-br-und-0--2">公司BR </label>
                            <md-button ng-click="upload('br')" class="form-btn">上載</md-button>
                            <div class="description">檔案必須小於 <strong>8 MB</strong>。<br>允許上載的副檔名：<strong>pdf jpg png tiff jpeg doc docx</strong>。</div>
                        </div>
                    </div>
                </div>
                <div class="field-type-image field-name-field-logo field-widget-image-image form-wrapper" id="edit-field-logo--2">
                    <div id="edit-field-logo-und-0--2-ajax-wrapper">
                        <div class="form-item form-type-managed-file form-item-field-logo-und-0">
                            <label for="edit-field-logo-und-0--2">公司Logo </label>
                            <md-button ng-click="upload('logo')" class="form-btn">上載</md-button>
                        </div>
                    </div>
                </div>
<!--                <fieldset class="form-wrapper" id="edit-picture--3">
                    <legend><span class="fieldset-legend">圖片</span></legend>
                    <div class="fieldset-wrapper">
                        <div class="form-item form-type-file form-item-files-picture-upload">
                            <label for="edit-picture-upload--2">個人頭像 </label>
                            <input type="file" id="edit-picture-upload--2" name="files[picture_upload]" size="48" class="form-file">
                            <div class="description">您的虛擬頭像或照片。圖片尺寸大於1024x1024像素將被自動等比例縮減。 </div>
                        </div>
                    </div>
                </fieldset>
                -->
            </div>
            <div id="edit-actions" class="form-actions form-wrapper"><input type="button" class="form-submit form-btn" value="儲存" name="op" id="edit-submit" ng-click="save()"></div>
        </div>
        <!-- part2 -->
    </div>
    <!-- signup_form_wrapper -->
    </div>
</form>