<md-input-container ng-init="testformElement = formElement">
          <label ng-bind="testformElement.headerName"></label>
          <md-select ng-model="form" placeholder="請選擇"> 
            <!--<md-option ng-value="state" ng-repeat="state in testformElement.cellEditorParams.values">
              <span ng-bind="state"></span>
            </md-option>-->
            <md-option value="axe">Axe</md-option>
          <md-option value="sword">Sword</md-option>
          <md-option value="wand">Wand</md-option>
          <md-option value="pen">Pen?</md-option>
          </md-select> 
</md-input-container>