<h4>導師介紹</h4>

<p>
    右click 
</p>
                            <div class="lister-list">
                                <div class="lister-item mode-detail">
                                    <div class="lister-item-delete" ng-click="deleteTutor()">X</div>
                                    <dz-image class="lister-item-image" width="140" height="209" src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png">
                                    </dz-image>
                                    <div class="lister-item-content">
                                        <h3 class="lister-item-header">
                                            <a href="#"> <dz-text>請填上導師姓名1</dz-text>
                                            </a>            </h3>
                                        <p class="text-muted text-small">
                                            Tutor <span class="ghost">|</span>
                                            <a href="#"> 
                                            </a>                </p>
                                        <dz-text><p>請填上導師介紹</p></dz-text>
                                    </div>                                    
                                    <div class="clear"></div>
                                    <!--
                                    <div class="lister-item-delete" ng-click="deleteTutor()">X</div>
                                    <div class="lister-item-image" width="140" height="209">
                                        <dz-image></dz-image>
                                    </div>
                                    <dz-image class="lister-item-image" width="140" height="209" src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png">
                                    </dz-image>
                                                                        <div class="lister-item-content">
                                        <h3 class="lister-item-header">
                                            <a href="#"> <dz-text>請填上導師姓名</dz-text>
                                            </a>            </h3>
                                        <p class="text-muted text-small">
                                            Actor <span class="ghost">|</span>
                                            <a href="#"> 
                                            </a>                </p>
                                         <dz-text><p>請填上導師介紹</p></dz-text>
                                    </div>
                                    <div class="clear"></div>
                                    -->
                                </div>
                                
                                <div  id="tutor-template" class="ng-hide">
                                  <div class="lister-item mode-detail">
                                    <div class="lister-item-delete" ng-click="deleteTutor()">X</div>
                                    <dz-image class="lister-item-image" width="140" height="209" src="https://www.iconexperience.com/_img/o_collection_png/green_dark_grey/512x512/plain/user.png">
                                    </dz-image>
                                    <div class="lister-item-content">
                                        <h3 class="lister-item-header">
                                            <a href="#"> <dz-text>請填上導師姓名2</dz-text>
                                            </a>            </h3>
                                        <p class="text-muted text-small">
                                            Tutor <span class="ghost">|</span>
                                            <a href="#"> 
                                            </a>                </p>
                                        <dz-text><p>請填上導師介紹</p></dz-text>
                                    </div>
                                    <div class="clear"></div>
                                  </div>
                                </div>
                                

 
                        </div>

  