 <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>請選擇要還原到的時間</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content layout-padding>
            <div layout="row" layout-align="center center" layout-padding>
                <md-input-container>
                    <label>請選擇日期</label>
                    <md-datepicker ng-model="recoveryDate"></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>時鐘</label>
                    <input ng-model="recoveryHours" type="number" step="1" min="0" max="23">
                </md-input-container>
                <md-input-container>
                    <label>分鐘</label>
                    <input ng-model="recoveryMinutes" type="number" step="1" min="0" max="59">
                </md-input-container>
                <md-input-container>
                    <label>秒鐘</label>
                    <input ng-model="recoverySeconds" type="number" step="1" min="0" max="59">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="recoveryPage()">
                還原本頁
            </md-button>
            <md-button ng-click="recovery()">
                還原網站
            </md-button>
            <!--
            <md-button ng-click="recoveryWebsiteData()">
                還原數據
            </md-button>
            -->
        </md-dialog-actions>
    </form>