


<div class="col-md-4">
   <div class="event-menu-sidebar">
      <div class="list-group nav-pills js-stick" data-parent=".event-menu" role="tablist">
         <a ng-repeat="item in model.menu" ng-class="$index == 0? 'active-menu':'' " class="list-group-item" data-toggle="pill" href="#menu{{$index}}" role="presentation">
            <div class="media">
               <div class="media-body">
                  <h4 class="list-group-item-heading">{{item.title}}</h4>
                  <p class="list-group-item-text">{{item.price}}</p>
               </div>
               <div class="media-right media-middle">
                  <div class="icon icon-arrow visible-xs"></div>
               </div>
            </div>
         </a>
      </div>
   </div>
</div>
<div class="col-md-8">
   <div class="event-menu-body tab-content" role="tablist">
      <div ng-repeat="item in model.menu" ng-class="$index ==0? 'active':'' " class="panel panel-default tab-pane fade in" id="menu{{$index}}" role="tabpanel">
         <div class="panel-body">
            <h2 class="center">{{item.title}}</h2>
            <h6 class="center">{{item.price}}</h6>
            <div class="menu-entries space-top-lg space-bottom">
                <editor-container-element custom id="{{item.id}}">
                    <div text></div>
        
                </editor-container-element>
            </div>
         </div>
      </div>
   </div>
</div>