    <div class="col-xs-2 tab-grid-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#Tab1" data-toggle="tab" aria-expanded="true">Tab1</a></li>
            <li class=""><a href="#Tab2" data-toggle="tab" aria-expanded="false">Tab2</a></li>
            <li class=""><a href="#Tab3" data-toggle="tab" aria-expanded="false">Tab3</a></li>
        </ul>
    </div>
    
    <div class="col-xs-10 tab-grid-right">
        <div class="tab-content">
            <div class="tab-pane active" id="Tab1">
                <div class="w3-text">
                    <h3 class="title medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="1" medium-editor-index="dff6762e-149c-1856-5840-f5760cac7709">AboutUs</h3>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat.
                        <span>Nam vitae tellus posuere, auctor metus eget, imperdiet augue. Morbi at dui tortor. Maecenas in lacus gravida, elementum est vitae, laoreet ex.</span>
                    </p>
                </div>
            </div>
            <div class="tab-pane" id="Tab2">
                <div class="w3-text">
                    <h3 class="title ng-scope medium-editor-element" text="" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="3" medium-editor-index="08c0f3ca-0ec5-4249-6620-8d96b455a71c"><a href="#abcde">Offers</a></h3>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        <span>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Vivamus feugiat suscipit velit posuere ornare.</span>
                    </p>
                </div>
            </div>
            <div class="tab-pane" id="Tab3">
                <div class="w3-text">
                    <h3 class="title medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="2" medium-editor-index="8337709c-9caa-b59c-ec78-a130afc4cb87">Advantages</h3>
                    <p class="ng-scope medium-editor-element" contenteditable="true" spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="3" medium-editor-index="945f518e-de8b-3605-9667-9795713335bf">Qapiente itaque earum rerum hic tenetur a delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut At vero eos et accusamus et iusto odio praesentium voluptatum
                        <span class="ng-scope">Curabitur ac auctor nunc. Praesent vitae tortor ac leo commodo laoreet nec non nisi. Fusce ornare, augue tristique ornare dictum, elit magna viverra elit</span>
                    </p>
                </div>
            </div>
        </div>
    </div>