<style>
    .virtualRepeatdemoInfiniteScroll #vertical-container {
    min-height: 1000px;
    width: 100%;
}

.virtualRepeatdemoInfiniteScroll .repeated-item {
    /*border-bottom: 1px solid #ddd;*/
    /*box-sizing: border-box;*/
    /*height: 40px;*/
    /*padding-top: 10px;*/
}

.virtualRepeatdemoInfiniteScroll md-content {
    margin: 0;
}

.virtualRepeatdemoInfiniteScroll md-virtual-repeat-container {
    /*border: solid 1px grey;*/
}

.virtualRepeatdemoInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter {
    /*padding-left: 16px;*/
}

.views-row {
    display: block;
    width: auto;
    float: left;
    height: 300px;
}

.company:hover {
    border: #ccc 1px solid;
}

.company {
    width: 245px;
}
.main_company .product_list{ float:left; width:796px; }
.main_company .product_featured{ float:right; width:194px; }
</style>

<div ng-init="init()">
    

    
    <div class="cat_path">
        <div class="cat_parents">
    <a href="https://www.5metal.com.hk/company">公司列表</a> <span class="gt">&gt;</span> <a class="path_item" ng-href="https://www.5metal.com.hk/product_category?tid={{tid}}">{{category}}</a>    </div>
    
        <div class="cat_parents" ng-show="keyword">
    <a href="#">搜尋字</a> <span class="gt">&gt;</span> <a class="path_item" ng-href="https://www.5metal.com.hk/company?keyword={{keyword}}">{{keyword}}</a>    </div>
    
        <div class="search_bar">
            <input type="text" id="q" name="keyword" ng-model="keyword" placeholder="輸入公司關鍵字搜尋">
            <input type="button"  placeholder="搜尋" id="search_btn" ng-click="company_search();">
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="cat_path" style="height:auto !important;"  ng-init="getCategoryChildren(tid)"  ng-hide="!catChildren.length">

        <div class="cat_order_list cat_ref_list">
            <div class="list_box">
                <label class="order">次分類</label>
                <ul class="order_list">
                    <li ng-repeat="cat in catChildren" ng-hide="cat['tid']==453 || cat['tid']==452 || cat['tid']==454"><a ng-href="/product_category?tid={{cat['tid']}}" href="#" id="sort_view">{{cat['name']}}</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="cat_order_list cat_ref_list">
        <div class="list_box">
            <label class="order">排序方式</label>
            <ul class="order_list">
     
            <li><a ng-click="companySort('view')" ng-class="companySortClass('view')">瀏覽次數(多-&gt;少)</a></li>
 
            <li><a ng-click="companySort('stock')" ng-class="companySortClass('stock')">最後上貨日期(近-&gt;遠)</a></li>
 
            <li><a ng-click="companySort('vote')" ng-class="companySortClass('vote')">投標次數(多-&gt;少)</a></li>
 
            <li><a ng-click="companySort('register')" ng-class="companySortClass('register')">登記日期(近-&gt;遠)</a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    
    
<div class="gap_div"></div>
<div class="cat_path">
    <div class="product_list">
        <h2 class="gradient_yellow">公司列表</h2>
        <div class="plist">
            <div class="phead"></div>
            <div class="pcontent">

<div class="view view-product-inner view-id-product_inner view-display-id-block view-dom-id-049b79c23303f9c42d46beafde828e61 jquery-once-1-processed" rel="loaded"  ng-cloak>
              
     <div class="view-content" infinite-scroll="loadMore()" infinite-scroll-disabled='loading' infinite-scroll-distance="1"> 
        <div class="views-row views-row-1 views-row-odd" ng-repeat="item in data">
              <!--<metal-company-item  ng-init="init(item['nid'])">-->


              <!--</metal-company-item>-->
              
                   	<div class="company">
    					<div class="logo">
    						<a target="_blank" ng-href="/node/{{item['nid']}}">
    							
    		        			<img ng-src="{{loadImage(item['company_logo'])}}" width="180" alt="" />
    			        		
    						</a>
    					</div>
    					<div class="title">
    						<a ng-href="/node/{{item['nid']}}" target="_blank">{{item['title']}}</a>
    					</div>
    				</div>
    				<div class="clearfix"></div>
              <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="item-list"><ul class="pager"><li class="pager-previous first">&nbsp;</li>
<li class="pager-current">1 of 22</li>
<li class="pager-next last"><a title="到下一頁" href="https://www.5metal.com.hk/content/%E5%BE%B7%E8%A8%98%E4%BA%94%E9%87%91%E7%99%BC%E5%B1%95%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8?page=1&amp;tid=2">下一頁 ›</a></li>
</ul></div>  
 
  
  
  
</div>          </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="product_featured">
        <h2 class="gradient_yellow" style="width:194px;">熱門搜尋公司</h2>
        <div class="plist">
            <div class="phead"></div>
            <div class="view view-product-inner view-id-product_inner view-display-id-block_1 view-dom-id-d5e50a5c89cdecfd2c5f71bccd888c2f">
            
                        <div class="view-content">
                            <div ng-repeat="hot in hotData " class="views-row">
                                          <!--  <metal-company-item  ng-init="init(hot['nid'])">-->
                                          <!--</metal-company-item>-->
                                               	<div class="company">
											<div class="logo">
												<a target="_blank" ng-href="/node/{{hot['nid']}}">
													
								        			<img ng-src="{{loadImage(hot['company_logo'])}}" width="180" alt="" />
									        		
												</a>
											</div>
											<div class="title">
												<a ng-href="/node/{{hot['nid']}}" target="_blank">{{hot['title']}}</a>
											</div>
										</div>
										<div class="clearfix"></div>
                                          
                            </div>
    
                        </div>
            </div>     
        </div>
    </div>
    
    <div class="clearfix"></div>

    <div ng-show="loading" class="loading" id="loading">請稍等，正在載入...</div>
</div>

</div>